{% capture content %}
  <section class="layer four-oh-four-illu">
    <section>
      <figure>
        <img src="/images/siteleaf-404.svg" alt="Opps" />
      </figure>
      <p><a href="/">Get help</a> or <a href="/" alt="home">head home</a></p>
    </section>
  </section>
{% endcapture %}
{% include 'layouts/default' %}