


<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="description" content="Content management simplified. Edit in the cloud, publish anywhere.
">
  <meta property='st:title' content='Home' />
  <meta name="twitter:widgets:link-color" content="#0091e5">

  
    <title>Siteleaf | Content management system simplified.</title>
  

  <link href="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/css/style.css">
  <link rel="icon shortcut" href="/images/favicon.ico">
  
  <script type="text/javascript" src="//use.typekit.net/tti2qoh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1666437-33', 'siteleaf.com');
    
    ga('send', 'pageview');
  </script>

  
    <a class="v2Teaser" href="http://v2.siteleaf.com">We’re working on great updates to Siteleaf &rarr;</a>
  
  <section class="layer main dark">
      <header>
        <h1 class="logo">
          <a href="/">Siteleaf</a>
        </h1>
        <span class="ss-rows main-nav-toggle right">Menu</span>
        <nav>
          <ul class="main-nav">
            
              
            
              
                <li class="main-nav-item">
                  <a href="/plans">Plans</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/blog">Blog</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/gallery">Gallery</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/themes">Themes</a>
                </li>
              
            
              
            
              
            
              
            
              
            
            <li class="main-nav-item">
              <a href="https://manage.siteleaf.com">Log in</a>
            </li>
            <li class="main-nav-item get-started-nav-item">
              <a href="https://manage.siteleaf.com/signup" class="get-started-btn">Sign up</a>
            </li>
          </ul>
        </nav>
      </header>

      
        <h2 class="intro-header v2__title">Content management simplified.<br> Edit in the cloud, publish anywhere.</h2>
        <figure class="image-wrapper screenshot" id="show-intro-video">
          <span class="play-ic ss-icon">play</span>
          <ul class="image-carousel">
          
            <li class="active fadein"><img src="/assets/header-page.jpg" alt="Siteleaf"/></li>
          
            <li><img src="/assets/header-post.jpg" alt="Siteleaf"/></li>
          
            <li><img src="/assets/header-assets.jpg" alt="Siteleaf"/></li>
          
          </ul>
        </figure>

        <div class="intro-video-wrap is-hidden" id="video">
          <div class="intro-video">
            <iframe src="http://player.vimeo.com/video/69301083?color=00a1ff&api=1&player_id=intro" width="500" height="281" id="video-iframe" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
        </div>
      
  </section>

  
  
    <section class="features-section features-manage">
      <div class="features-section--inner">
        <h1 class="feature-sections--title">Focus on your content, not your management system.</h1>
        <div class="feature-sections--body"><p>Siteleaf is a smart, lightweight platform for creating and maintaining websites. We believe that content management shouldn’t be hard. That you should be able to host your website anywhere you want. That websites should be able to outlive their CMS. That our tools should be simplified, not dumbed down.</p>
</div>

        <div class="features">
          
            <article class="feature feature-content-types">
              <div class="feature--info">
                <h2 class="feature--title">Content types</h2>
                
              </div>
              

              
                <div class="subfeatures">
                  
                    <article class="subfeature subfeature-content-types">
                      <h2 class="subfeature--title ss-file">Pages</h2>
                      <div class="subfeature--body"><p>Pages are the main building blocks in Siteleaf. The most basic page has a title and a body, but they can also have unlimited subpages, posts, assets and metadata. Arranging your pages is easy, just drag and drop.</p>
</div>
                    </article>
                  
                    <article class="subfeature subfeature-content-types">
                      <h2 class="subfeature--title ss-layers">Posts</h2>
                      <div class="subfeature--body"><p>Posts belong to a page. A post could be a blog post, a portfolio item, an event, or anything that makes sense ordered chronologically. Posts are very similar to a Page, however they can have taxonomies and are ordered chronologically by default.</p>
</div>
                    </article>
                  
                    <article class="subfeature subfeature-content-types">
                      <h2 class="subfeature--title ss-bookmark">Metadata</h2>
                      <div class="subfeature--body"><p>Metadata is pure key/value data attached to a site, page, post, or asset. It provides a way to interact with templates beyond the basic usage of injecting title or body copy. It could be a custom color value, location, an aside, anything. <a href="http://www.siteleaf.com/blog/metadata-in-siteleaf/">Read more about metadata.</a></p>
</div>
                    </article>
                  
                    <article class="subfeature subfeature-content-types">
                      <h2 class="subfeature--title ss-tag">Taxonomies</h2>
                      <div class="subfeature--body"><p>Siteleaf supports the use of tags on posts, but in a way that&rsquo;s more flexible than most systems. Instead of posts having only one set of tags, they&rsquo;re capable of having as many tag sets as you’d like—each with its own name. <a href="http://www.siteleaf.com/blog/taxonomy-in-siteleaf/">Read more about taxonomies.</a></p>
</div>
                    </article>
                  
                </div>
              
            </article>
          
            <article class="feature feature-collaborate">
              <div class="feature--info">
                <h2 class="feature--title">Collaborate</h2>
                <p>Invite your client or team to your site and let them tinker all they want without touching your code. Siteleaf supports various access levels depending on the amount of control you want to grant. Set them as an Admin, Publisher, or Writer. <a href="/help/managing-your-site/user-roles">Read more about user roles.</a></p>

              </div>
              
                <div class="feature--graphic"><div class="collab-user">
<img src="/assets/collab-user-3.jpg" /><br /><strong>Admin</strong>
</div>

<div class="collab-user">
<img src="/assets/collab-user-2.jpg" /><br /><strong>Publisher</strong>
</div>

<div class="collab-user">
<img src="/assets/collab-user-1.jpg" /><br /><strong>Writer</strong>
</div></div>
              

              
            </article>
          
            <article class="feature feature-markdown">
              <div class="feature--info">
                <h2 class="feature--title">A smart text editor for writing</h2>
                <p>Whether you prefer writing in Markdown, HTML, or plaintext, we got you covered. Drag and drop an image and we’ll insert its code for you. No more weird formatting because WYSIWYG was more like WTF. <a href="/blog/markdown-in-siteleaf">Read more about writing in Siteleaf.</a></p>

              </div>
              
                <div class="feature--graphic"><img src="/assets/editor-v2.jpg" /></div>
              

              
            </article>
          
        </div>

        
      </div>
    </section>
  
    <section class="features-section features-publish">
      <div class="features-section--inner">
        <h1 class="feature-sections--title">Publish anywhere</h1>
        <div class="feature-sections--body"><p>Your data belongs to you. Manage it in the cloud with Siteleaf and publish to your own web host. With support for <a href="http://en.wikipedia.org/wiki/File_Transfer_Protocol">FTP</a>, <a href="http://en.wikipedia.org/wiki/SSH_File_Transfer_Protocol">SFTP</a>, <a href="http://aws.amazon.com/s3/">Amazon S3</a>, <a href="http://pages.github.com">GitHub Pages</a>, and <a href="http://www.rackspace.com/cloud/files/">Rackspace Cloud Files</a>, your data is archived forever, independent of our service.</p>

<p><img src="/assets/publishing-services.svg" alt="publishing-services"></p>
</div>

        <div class="features">
          
            <article class="feature feature-static-files">
              <div class="feature--info">
                <h2 class="feature--title ss-index">Static files</h2>
                <p>When published, your site lives as static HTML files. This means no database calls or server scripts being executed which means faster load times, increased security, and easier portability for you.</p>

              </div>
              

              
            </article>
          
            <article class="feature feature-siteleaf-hosting">
              <div class="feature--info">
                <h2 class="feature--title ss-uploadcloud">Siteleaf Hosting</h2>
                <p>All paid Siteleaf plans include a free built-in option for hosting your website. Siteleaf Hosting is powered by a content delivery network (CDN), with edge locations around the world. Your site will serve up lightning fast just about everywhere.</p>

              </div>
              

              
            </article>
          
            <article class="feature feature-custom-domains">
              <div class="feature--info">
                <h2 class="feature--title ss-link">Custom domains</h2>
                <p>All hosting options include the option to use your own custom domain name (e.g. example.com). Users of Siteleaf Hosting also have the option to use a free Siteleaf subdomain (e.g. yourname.siteleaf.net).</p>

              </div>
              

              
            </article>
          
            <article class="feature feature-api">
              <div class="feature--info">
                <h2 class="feature--title ss-pixels">An API for everything else</h2>
                <p>Your data is fully accessible through our <a href="https://github.com/siteleaf/siteleaf-api">API</a> and <a href="https://github.com/siteleaf/siteleaf-gem">gem</a>. Integrate your data into other sites, apps, or anything you want. It’s your data.</p>

              </div>
              

              
            </article>
          
        </div>

        
      </div>
    </section>
  
    <section class="features-section features-develop">
      <div class="features-section--inner">
        <h1 class="feature-sections--title">Developer friendly</h1>
        <div class="feature-sections--body"></div>

        <div class="features">
          
            <article class="feature feature-html-and-liquid">
              <div class="feature--info">
                <h2 class="feature--title">HTML + Liquid</h2>
                <p>Siteleaf templates are a mix of straight HTML and <a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers">Liquid</a>. Easy to pick up and write. No complicated coding or databases needed. <a href="/help/themes">Visit our documentation</a> or <a href="/blog/developing-sites/">watch our video walkthrough</a> for more on creating Siteleaf templates.</p>

              </div>
              

              
            </article>
          
            <article class="feature feature-preview-before-publishing">
              <div class="feature--info">
                <h2 class="feature--title">Preview before publishing</h2>
                <p>After you upload your theme or make changes to your site’s content, you can preview your changes using a Siteleaf preview URL. A perfect staging area. </p>

              </div>
              

              
            </article>
          
            <article class="feature feature-develop-locally">
              <div class="feature--info">
                <h2 class="feature--title">Develop locally</h2>
                <p>Prefer your own dev environment? We do, too. Write your templates locally using HTML and Liquid, and preview them with the live content before uploading.</p>

              </div>
              

              
            </article>
          
        </div>

        
          <div class="features-develop--graphic">
            <pre><code class="liquid">&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;{{ title }} - {{ site.title }}&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;nav&gt;
      {% for page in site.pages %}
        &lt;a href=&quot;{{ page.url }}&quot;&gt;{{ page.title }}&lt;/a&gt;
      {% endfor %}
    &lt;/nav&gt;

    &lt;h1&gt;{{ title }}&lt;/h1&gt;
    &lt;div class=&quot;page-description&quot;&gt;{{ body }}&lt;/div&gt;

    {% for post in posts %}
      &lt;article&gt;
        &lt;h2&gt;{{ post.title }}&lt;/h2&gt;
        {{ post.body }}
      &lt;/article&gt;
    {% endfor %}

    &lt;footer&gt;Copyright {{ site.date | date: &quot;%Y&quot; }}&lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<pre><code class="ruby">$ siteleaf config example.com
=&gt; &quot;Site configured with Pow, open `http://example.dev` to test site locally.&quot;

$ siteleaf push theme
=&gt; &quot;20 assets uploaded&quot;
</code></pre>

          </div>
        
      </div>
    </section>
  
    <section class="features-section features-kind-words">
      <div class="features-section--inner">
        <h1 class="feature-sections--title">Some kind words</h1>
        <div class="feature-sections--body"><blockquote class="twitter-tweet" lang="en"><p>My site is built on <a href="https://twitter.com/siteleaf">@siteleaf</a> and I love it. And I love the system <a href="https://twitter.com/destroytoday">@destroytoday</a> and I designed into the headers.</p>&mdash; Able Parris (@ableparris) <a href="https://twitter.com/ableparris/status/521674572786327552">October 13, 2014</a></blockquote>

<blockquote class="twitter-tweet" lang="en"><p>Spent a good part of Sunday with <a href="https://twitter.com/siteleaf">@siteleaf</a>, and have to say, the simplicity continues to do it for me.</p>&mdash; Randy J. Hunt (@randyjhunt) <a href="https://twitter.com/randyjhunt/status/475987996387594240">June 9, 2014</a></blockquote>

<blockquote class="twitter-tweet" lang="en"><p>The FiftyThree press page was the big <a href="https://twitter.com/siteleaf">@siteleaf</a> project I worked on recently. Kinda fell in love with Siteleaf.</p>&mdash; Winston ¯\_|°—°|_/¯ (@suchwinston) <a href="https://twitter.com/suchwinston/status/492706184357740544">July 25, 2014</a></blockquote>

<blockquote class="twitter-tweet" lang="en" data-cards="hidden"><p>Thanks to <a href="https://twitter.com/siteleaf">@siteleaf</a> for being awesome. We used it for the new <a href="http://t.co/eGehbJKZu5">http://t.co/eGehbJKZu5</a></p>&mdash; Peter Thomas (@tuptup) <a href="https://twitter.com/tuptup/status/479175423759486976">June 18, 2014</a></blockquote>

<blockquote class="twitter-tweet" lang="en"><p>I&rsquo;ve been using <a href="https://twitter.com/siteleaf">@siteleaf</a> for 15 minutes and I&rsquo;m already impressed. Simple set-up, a clear, concise interface, and amazing customer service!</p>&mdash; Leigh-Ann Bartsch (@labartsch) <a href="https://twitter.com/labartsch/status/453249739879112704">April 7, 2014</a></blockquote>

<blockquote class="twitter-tweet" lang="en"><p>Been really enjoying <a href="https://twitter.com/siteleaf">@siteleaf</a>. The simplicity is refreshing</p>&mdash; Brian Hoff (@behoff) <a href="https://twitter.com/behoff/status/545688976984924160">December 18, 2014</a></blockquote>
</div>

        <div class="features">
          
        </div>

        
      </div>
    </section>
  

  <section class="layer get-started">
    <section>
      <h3 class="get-started--title">Create your website now!</h3>
      <div>
        <button class="green-button large-button" onclick="location.href='/plans';">Get started</button>
      </div>
    </section>
  </section>


  <footer class="layer">
    <section>
      <nav>
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="/help">Help</a>
          <li class="footer-nav-item"><a href="/help/themes">Documentation</a>
          <li class="footer-nav-item"><a href="/">Features</a>
          <li class="footer-nav-item"><a href="/purpose">Purpose</a>
          <li class="footer-nav-item"><a href="/privacy">Privacy</a>
          <li class="footer-nav-item"><a href="/terms">Terms</a>
          <li class="footer-nav-item"><a href="https://github.com/siteleaf/siteleaf-api" target="_blank">API</a>
          <li class="footer-nav-item"><a href="http://status.siteleaf.com" target="_blank">Status</a>
        </ul>
      </nav>
      <small class="footer-copy">&copy;2016 Siteleaf™ is made by <a href="http://oak.is">Oak</a>. Follow <a href="http://twitter.com/siteleaf">@siteleaf</a></small>
    </section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="/scripts/js/min/application.js"></script>
  
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <script src="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.js"></script>
</body>
</html>