<footer class="page__footer">
  <div class="wrap wrap--wide">
    <nav class="nav nav--footer">
      <ul class="nav__list nav__list--footer">
        <li class="nav__item"><a class="nav__link" href="http://learn.siteleaf.com" target="_blank">Learn</a></li>
        <li class="nav__item"><a class="nav__link" href="/purpose/">Purpose</a></li>
        <li class="nav__item"><a class="nav__link" href="/privacy/">Privacy</a></li>
        <li class="nav__item"><a class="nav__link" href="/terms/">Terms</a></li>
        <li class="nav__item"><a class="nav__link" href="https://github.com/siteleaf/siteleaf-api" target="_blank">API</a></li>
        <li class="nav__item"><a class="nav__link" href="http://status.siteleaf.com" target="_blank">Status</a></li>
        <li class="nav__item"><a class="nav__link" href="https://twitter.com/siteleaf" target="_blank">Twitter</a></li>
        <li class="nav__item"><a class="nav__link" href="https://github.com/siteleaf/" target="_blank">GitHub</a></li>
      </ul>
      <small class="copyright">Made with love by <a class="page__footer__link" href="http://oak.is">Oak</a></small>
    </nav>
  </div>
</footer>
