<footer class="layer">
  <section>
    <nav>
      <ul class="footer-nav">
        <li class="footer-nav-item login"><a href="https://manage.siteleaf.com">Log in</a>
        <li class="footer-nav-item show"><a href="/features">Features</a>
        <li class="footer-nav-item show"><a href="/plans">Plans</a>
        <li class="footer-nav-item show"><a href="/blog">Blog</a>
        <li class="footer-nav-item show"><a href="/gallery">Gallery</a>
        <li class="footer-nav-item show"><a href="/themes">Themes</a>
        <li class="footer-nav-item"><a href="/help">Help</a>
        <li class="footer-nav-item"><a href="https://github.com/siteleaf/siteleaf-themes">Documentation</a>
        <li class="footer-nav-item"><a href="https://github.com/siteleaf/siteleaf-api">API</a>
        <li class="footer-nav-item"><a href="/purpose">Purpose</a>
        <li class="footer-nav-item"><a href="/privacy">Privacy</a>
        <li class="footer-nav-item"><a href="/terms">Terms</a>
      </ul>
    </nav>
    <small>&copy; 2013 Siteleaf&reg; is a registered trademark of Oak Studios, LLC. Made in Brooklyn.</small>
  </section>
</footer>

<script src="//cdn.symbolset.com/534b9174c035efe2c1928ac3ec622d95cd76118d/symbolset.js"></script>
</body>
</html>