{% if page.color %}
  {% assign background = page.color %}
{% elsif page.layout == 'blog' %}
  <!-- blog index, inherit from first tag of first post -->
  {% assign first_post = site.posts | first %}
  {% assign post_tag_downcase = first_post.tags | first | downcase %}
  {% for site_tag in site.blog_tags %}
    {% assign site_tag_title = site_tag.title | downcase %}
    {% if site_tag_title == post_tag_downcase %}
      {% if site_tag.color %}
        {% assign background = site_tag.color %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% elsif page.collection == 'posts' %}
  <!-- blog permalink, inherit from first tag -->
  {% assign post_tag_downcase = page.tags | first | downcase %}
  {% for site_tag in site.blog_tags %}
    {% assign site_tag_title = site_tag.title | downcase %}
    {% if site_tag_title == post_tag_downcase %}
      {% if site_tag.color %}
        {% assign background = site_tag.color %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="headerWrap bg--{{ background | default: 'lightest-gray' }}">
  <header class="header{% if page.extended_header %} header--extended{% endif %}">
    <ul class="header__items">
      {% for item in site.header_nav %}
      <li class="header__item">
        <a href="{{ item[1] }}" class="header__link">{{ item[0] }}</a>
      </li>
      {% endfor %}
      <li class="header__item">
        <a href="https://manage.siteleaf.com/signup" class="header__link header__link--button">Sign up</a>
      </li>
      <li class="header__item header__item--mobile">
        <a id="mobileNavOpen" class="header__link">Menu</a>
      </li>
    </ul>
    <a href="/" class="header__home"><img src="{{ site.logo }}" class="header__logo" alt="{{ site.title }}" /></a>
    <h1 class="header__title">{{ page.header_title | default: page.title }}</h1>
    {% if page.subtitle %}<div class="header__subtitle">{{ page.subtitle | markdownify }}</div>{% endif %}
    {% if page.header_button and page.url != '/' %}
      <div class="header__buttonWrap">
        <a href="{{ page.header_button.url }}" class="bg--{{ page.header_button.color | default: 'blue' }} header__button">{{ page.header_button.title }}</a>
      </div>
    {% endif %}
  </header>
  <nav class="mobileNav">
    <header class="header">
      <ul class="header__items">
        <li class="header__item header__item--mobile">
          <a id="mobileNavClose" class="header__link">Close</a>
        </li>
      </ul>
      <ul class="mobileNav__items">
        {% for item in site.data.navigation.header %}
        <li class="mobileNav__item">
          <a href="{{ item.url }}" class="mobileNav__link">{{ item.title }}</a>
        </li>
        {% endfor %}
        <li class="mobileNav__item">
          <a href="https://manage.siteleaf.com/signup" class="mobileNav__link">Sign up</a>
        </li>
      </ul>
    </header>
  </nav>
</div>
