{% if site.meta.swiftype %}
  <div id="st-results-container"></div>
  <script type="text/javascript">
    var Swiftype = window.Swiftype || {};
    (function() {
      Swiftype.key = '{{ site.meta.swiftype }}';
      Swiftype.inputElement = '#st-search-input';
      Swiftype.resultContainingElement = '#st-results-container';
      Swiftype.attachElement = '#st-search-input';
      Swiftype.renderStyle = "overlay";

      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = "//swiftype.com/embed.js";
      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    }());
  </script>
{% endif %}

<script src="//yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad()</script>