{% assign post = include.post %}
{% assign is_excerpt = include.is_excerpt %}
{% assign tag_collection = site.collections | where: 'label', 'tags' | first %}
<article class="article">
  {% if is_excerpt %}
    <h2 class="article__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}
  <section class="article__content">
    {% if is_excerpt %}
      {{ post.excerpt | markdownify }}
    {% else %}
      {{ post.content | markdownify }}
    {% endif %}
  </section>
  {% unless is_excerpt %}
    <section class="article__meta">
      <time class="article__date{% if post.is_legal %} article__date--legal{% elsif page.url contains '/blog/' %} article__date--permalink{% endif %}" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
      {% if post.author %}
        by <a>{{ post.author }}</a>
      {% endif %}
      {% if post.tags %}
        <ul class="article__tags">
          in 
          {% for post_tag in post.tags %}
            {% assign post_tag_downcase = post_tag | downcase %}
            {% for site_tag in tag_collection.docs %}
              {% assign site_tag_title = site_tag.title | downcase %}
              {% if site_tag_title == post_tag_downcase %}
                <li class="article__tag"><a href="{{ site_tag.permalink }}" class="article__tag__link">{{ site_tag.title }}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  {% endunless %}
  {% if is_excerpt and post.excerpt != post.content %}
    <footer class="article__footer">
      <a href="{{ post.url }}" class="article__footer__link">Read more</a>
    </footer>
  {% endif %}
</article>
