{% assign post = include.post %}
{% assign is_excerpt = include.is_excerpt %}
<article class="article">
  {% if is_excerpt %}
    <h2 class="article__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {% endif %}
  {% if post.tags or post.date %}
  <section class="article__meta">
    {% if post.tags %}
      <ul class="article__tags">
        {% for post_tag in post.tags %}
          {% assign post_tag_downcase = post_tag | downcase %}
          {% for site_tag in site.blog_tags %}
            {% assign site_tag_title = site_tag.title | downcase %}
            {% if site_tag_title == post_tag_downcase %}
              <li class="article__tag"><a href="{{ site_tag.permalink }}" class="article__tag__link{% if site_tag.color %} bg--{{site_tag.color}}{% endif %}">{{ site_tag.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if post.date %}
    <time class="article__date" datetime="{{ post.date | date_to_xmlschema }}">{% if page.url == '/privacy/' or page.url == '/terms/' %}Last updated: {% endif %}{{ post.date | date: site.date_format }}</time>
    {% endif %}
  </section>
  {% endif %}
  <section class="article__content">
    {% if post.tags contains 'v1' %}
      <p class="note">This post refers to a legacy version of Siteleaf.</p>
    {% endif %}

    {% if post.vimeo %}
    <iframe src="https://player.vimeo.com/video/{{post.vimeo}}?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreenn></iframe>
    <p class="caption">Watch <a href="https://vimeo.com/{{post.vimeo}}" target="_blank">{{post.title}}</a> on Vimeo</p>
    {% elsif post.hero %}
    <p>
      <a href="{{post.url}}"><img src="{{post.hero}}" alt="{{post.title}}" /></a>
    </p>
    {% endif %}

    {% if is_excerpt %}
      {{ post.excerpt | markdownify }}
    {% else %}
      {{ post.content | markdownify }}
    {% endif %}
    {% if is_excerpt and post.excerpt != post.content %}
      <a href="{{ post.url }}" class="article__content__more">Read more</a>
    {% endif %}
  </section>
</article>
