{% if include.post %}
  {% assign post = include.post %}
  {% assign isExcerpt = include.excerpt %}
  <article class="post post--excerpt">
    <div class="wrap wrap--wide">
      {% if post.vimeo %}
        <figure class="post__hero post__hero--video">
          <iframe class="post__video" src="http://player.vimeo.com/video/{{post.vimeo}}?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </figure>
      {% elsif post.hero %}
        <figure class="post__hero{% if isExcerpt %} post__hero--linked{% endif %}">
          {% if isExcerpt %}<a href="{{ post.url }}">{% endif %}
            <img class="post__hero__image" src="{{ post.hero }}" />
          {% if isExcerpt %}</a>{% endif %}
        </figure>
      {% endif %}
    </div>
    <div class="wrap wrap--narrow">
      <header class="post__header">
        <h1 class="post__title">{% if isExcerpt %}<a href="{{ post.url }}" class="post__title__link">{% endif %}{{ post.title }}{% if isExcerpt %}</a>{% endif %}</h1>
        <section class="post__meta">
          {% if post.date and post.footer_date != true %}
            <time class="post__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
          {% endif %}
          {% if post.author %}
            <a class="post__author">{{ post.author }}</a>
          {% endif %}
          {% if post.tags %}
            <ul class="post__tags">
              {% for tag in post.tags %}
                <li class="post__tag"><a class="post__tagLink" href="/blog/tags/{{ tag | downcase }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </section>
      </header>
      <section class="post__content">
        {% if isExcerpt %}
          {{ post.excerpt | markdownify }}
        {% else %}
          {{ post.content | markdownify }}
        {% endif %}
      </section>
      <footer class="post__footer">
        {% if isExcerpt %}
          {% if post.excerpt != post.content %}
            <a class="post__moreLink" href="{{ post.url }}">Read more &rarr;</a>
          {% endif %}
        {% endif %}
        {% if post.footer_date and post.date %}
          <small class="post__footer__date">Last edited: {{ post.date | date: site.date_format }}</small>
        {% endif %}
      </footer>
    </div>
  </article>
{% endif %}
