* {
  @include box-sizing(border-box);
}

html {
  font-size: $font-size-html;
  @include max-width($bp-sm) {
    font-size: $font-size-html-sm;
  }
}

body {
  color: $color-gray-dark;
  font-family: $font-family-sans-serif;
  font-size: $font-size-0;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  @include antialias;
}

a {
  text-decoration: none;
  color: inherit;
}

// Typography
// ----------

h1 {
  font-size: $font-size-7;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing-tighter;
  line-height: $line-height-tighter;
  margin-top: 0;
  margin-bottom: ($v * 3) - computed-line-height($font-size-6, $line-height-tighter);
  @include max-width($bp-xs) {
    font-size: $font-size-6;
  }
}

h2 {
  font-size: $font-size-5;
  letter-spacing: $letter-spacing-tight;
  line-height: $line-height-tighter;
  margin-top: $v * 1.5;
  margin-bottom: ($v * 2) - computed-line-height($font-size-5, $line-height-tighter);
}

h3 {
  font-size: $font-size-4;
  letter-spacing: $letter-spacing-tight;
  color: $color-gray;
  line-height: $line-height-tighter;
  margin-top: $v * 1.5;
  margin-bottom: ($v * 2) - computed-line-height($font-size-4, $line-height-tighter);
}

h4,
h5,
h6 {
  font-size: $font-size-1;
  font-weight: $font-weight-semibold;
  @extend %text--caps;
  color: $color-gray;
  line-height: $line-height-tight;
  margin-top: $v * 1.5;
  margin-bottom: ($v * 1.5) - computed-line-height($font-size-1, $line-height-tight);
}

strong {
  @extend %text--bold;
}

em {
  font-style: italic;
}

small {
  @extend %text--small;
}

.large {
  @extend %text--larger;
}

p,
ol,
ul,
blockquote,
pre {
  margin-bottom: $v * 1;
}

ol,
ul {
  padding-left: $tab;
}

blockquote {
  margin-left: 0.8em;
  border-left: 0.2em solid $color-gray-lighter;
  padding-left: $tab - 0.8em - 0.2em;
  @extend %text--italic;
}

code,
kbd,
pre,
samp {
  background-color: $color-gray-lightest;
  font-family: $font-family-monospace;
  overflow: auto;
  white-space: pre-wrap;
}

code {
  padding: 0.1em 0.2em;
  border-radius: $border-radius;
}

pre {
  padding: 1em;
  border-radius: $border-radius;
}

pre code {
  padding: 0;
}

pre,
pre code {
  background-color: $color-gray-lightest;
}

hr {
  width: 5em;
  margin: ($v * 2) auto;
  border: 0;
  border-top: 1px solid $color-gray-lighter;
}

// Wrap
// ----

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: $width-container;
}
.wrap--narrow {
  max-width: $max-width-narrow;
}
.wrap--wide {
  max-width: $max-width-wide;
}

// Buttons
// -------

.button {
  color: $color-white;
  border-radius: $border-radius;
  text-decoration: none;
  border-bottom: $button-thickness solid $color-black-alpha-lighter;
  padding: 0.5em 2em;
  display: inline-block;
  @include transition('#{$duration} background-color');
  font-weight: $font-weight-semibold;
  &:hover {
    color: $color-white;
  }
  &:active {
    box-shadow: inset 0 $button-thickness $button-thickness $color-black-alpha-lightest;
    border-bottom-color: transparent;
    @include transform(translateY(2px));
  }
}
.button--large {
  padding: 1em 4em;
}
.button--blue {
  background-color: $color-blue;
  &:hover {
    background-color: darken($color-blue, $button-hover-darken);
  }
}
.button--green {
  background-color: $color-green;
  &:hover {
    background-color: darken($color-green, $button-hover-darken);
  }
}
.button--onDark {
  background-color: $color-black-alpha-light;
  &:hover {
    background-color: fade-in($color-black-alpha-light, $button-hover-darken / 100%);
  }
}
