// Footer
// ------

.page__footer--teaser {
  @extend %background--navy;
  padding-top: $v * 1.5;
  padding-bottom: $v * 1.5;
  color: rgba(white, 0.6);
}

.page__footer:not(.page__footer--teaser) {
  // TO DO: remove :not after teaser is removed
  text-align: center;
  padding-top: $spacing-top--section;
  padding-bottom: $spacing-bottom--section;
}

.copyright {
  display: block;
}

.page__footer__link {
  @extend %link--alt;
}

.page__footer__heart{
  position: relative;
  top: 2px;
}

.page__footer__social{
  margin-right: 15px;
  vertical-align: middle;
  font-size: 24px;
  position: relative;
  top: -2px;
}

// TO DO: remove
.page__footer--teaser__link {
  color: $color-white;
  text-decoration: none;

  &:hover{
    opacity: 0.6;
  }
}