// General layout
// --------------

$margin-top--page:    $v * 2;
$margin-bottom--page: $v * 4;

.page__main {
  margin-top: $margin-top--page;
  margin-bottom: $margin-bottom--page;
}
.page__main--teaser {
  margin-top: 0;
  margin-bottom: 0;
}

.page__main__footer {
  text-align: center;
}

@import 'layout__header';
@import 'layout__footer';
@import 'layout__nav';
@import 'layout__teaser';
@import 'layout__post';
@import 'layout__archive';
@import 'layout__gallery';
