// Features
// --------

.logo {
  height: 94px; // natural height of asset
}

// sections
.section {
  padding-top: $v * 3;
  padding-bottom: $v * 3;
}
.section--smoke {
  @extend %background--smoke;
}
.section--blue {
  @extend %background--blue;
}
.section--green {
  @extend %background--green;
}
.section--navy {
  @extend %background--navy;
}

.section__title {
  @extend %text--title;
}
.section__title--headline {
  margin-top: $v * 0.5;
}
.section__body {
  color: $color-gray-dark;
}
.section__link {
  @extend %link--default;
  display: inline-block;
  margin-top: $v * 0.5;
}
.section__graphic {
  @include responsive-image;
  // pointer-events: none; // TO DO: uncomment
  margin-top: $v * 2;
  margin-bottom: $v * 2;
}
.section__title + .section__text {
  margin-top: $v * 1.5;
}

// Graphics
// --------

// general
$fadeDuration: 250ms;

.g__window {
  font-size: $font-size-n1;
  border-radius: $border-radius;
  background-color: transparent;
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lighter, inset 0 0 1px $color-black-alpha-dark;
  overflow: hidden;
  position: relative;
}
.g__window--site,
.g__window--finder {
  background-color: $color-white;
}
.g__window--editor {
  background-color: $color-navy;
}
.g__window--terminal {
  background-color: $color-gray-darker;
}
.g__window__topBar {
  font-family: sans-serif;
  text-align: center;
  background-color: lighten($color-gray-lighter, 10%);
  border: 1px solid $color-black-alpha-light;
  color: $color-gray;
  padding: 2px;
  font-size: $font-size-n2;
  & > * {
    display: inline-block;
  }
}
.g__window__topBar--active {
  color: $color-gray-dark;
  @include linear-gradient("#{lighten($color-gray-lighter, 10%)}, #{$color-gray-lighter}");
}
.g__window__topBar__icon {
  line-height: 0;
  position: relative;
  margin-right: 0.3em;
  top: 0.1em;
}
.g__windowButtons {
  position: absolute;
  left: 0.5em;
}
.g__windowButton {
  background-color: $color-gray-lighter;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  margin-right: 0.15em;
  &:nth-child(3) {
    margin-right: 0.5em;
  }
  @include max-width($bp-sm) {
    width: 9px;
    height: 9px;
    border-radius: 9px;
  }
  .g__window__topBar--active & {
    background-color: $color-gray;
  }
}
.g__window__code {
  pre {
    border-radius: 0 0 $border-radius $border-radius;
  }
  pre,
  code {
    background-color: transparent;
    color: $color-white;
  }
}
.g__finderPane {
  font-family: sans-serif;
  font-size: $font-size-n2;
  width: 14em;
  height: 100%;
  border-right: 1px solid $color-gray-lighter;
  float: left;
  position: relative;
}
.g__finderItem {
  padding: 0.02em 0 0.02em 1.75em;
  @include ellipsis;
  position: relative;
  width: 100%;
}
.g__finderItem--highlighted {
  background-color: $color-blue-dark;
  color: $color-white;
}
.g__finderItem--highlightedParent {
  background-color: $color-gray-lighter;
}
.g__finderItem__icon {
  position: absolute;
  color: $color-gray;
  .g__finderItem--highlighted & {
    color: $color-white;
  }
}
.g__finderItem__icon--folder {
  color: $color-blue;
}
.g__finderItem__icon--left {
  left: 0.4em;
}
.g__finderItem__icon--right {
  right: 0.2em;
}

// g-jekyll
$height-window--jekyll: 25em;
$v-offset-window--jekyll: 2em;

.g-jekyll {
  position: relative;
  padding-bottom: $v-offset-window--jekyll;
  .g__window {
    height: $height-window--jekyll;
    width: 92%;
    &:nth-child(2) {
      width: 60%;
      height: 15em;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

@include keyframes(genDir) {
  0% {
    opacity: 0;
    height: auto;
  }
  100% {
    opacity: 1;
    height: auto;
  }
}

.a-genDir {
  .is-js & {
    height: 0;
    opacity: 0;
  }
  .is-js .is-visible & {
    @include animation("genDir #{$fadeDuration} 400ms forwards");
  }
}

.a-finderPane--second {
  .is-js & {
    opacity: 0;
  }
  .is-js .is-visible & {
    @include animation("fadeIn #{$fadeDuration} 450ms forwards");
  }
}

.a-finderPane--third {
  .is-js & {
    opacity: 0;
  }
  .is-js .is-visible & {
    @include animation("fadeIn #{$fadeDuration} 500ms forwards");
  }
}

// g-github
$avatar-height:         64px;
$avatar-height-sm:      56px;
$avatarChild-height:    30px;
$avatarChild-height-sm: 27px;
$avatarChild-offset:    54px;
$avatarChild-offset-sm: 45px;
$github__item-padding:  1.6rem;
$sync-height:           50px;

.g-github {
  font-family: sans-serif;
  font-size: $font-size-n1;
  position: relative;
  width: calc(100% - #{$sync-height / 3});
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lighter;
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius;
}
.g-github__sync {
  position: absolute;
  right: $sync-height / 3 * -1;
  bottom: $sync-height / 3 * -1;
  background-color: $color-green;
  color: $color-white;
  height: $sync-height;
  width: $sync-height;
  border-radius: $sync-height;
  text-align: center;
  font-size: $font-size-4 / 1em * $font-size-html;
  line-height: 1.5;
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lighter;
}
.g-github__topBar {
  background-color: lighten($color-gray-lighter, 10%);
  border-bottom: 1px solid $color-gray-lighter;
  padding: 0.15rem 0.75rem;
}
.g-github__logo {
  color: $color-gray-darker;
  font-size: $font-size-4;
}
.g-github__item {
  padding: 1em;
  position: relative;
  height: calc(#{$avatar-height} + #{$github__item-padding});
  &:not(:last-of-type) {
    border-bottom: 1px solid $color-gray-lightest;
  }
  @include max-width($bp-sm) {
    height: calc(#{$avatar-height-sm} + #{$github__item-padding});
  }
}
.g-github__text {
  padding-left: calc(#{$avatar-height} + #{$github__item-padding / 2} + 0.5em);
  @include max-width($bp-sm) {
    padding-left: calc(#{$avatar-height-sm} + #{$github__item-padding / 2});
  }
}
.g-github__commitTitle,
.g-github__commitMeta {
  @include ellipsis;
}
.g-github__commitTitle {
  color: $color-gray;
  margin-bottom: 0;
}
.g-github__commitMeta {
  font-size: $font-size-n1;
  color: $color-gray;
}
.g-github__commitTitle,
.g-github__user {
  font-weight: bold;
}
.g-github__avatar {
  background-color: $color-gray-lightest;
  border-radius: $border-radius;
  width: $avatar-height;
  height: $avatar-height;
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  @include max-width($bp-sm) {
    width: $avatar-height-sm;
    height: $avatar-height-sm;
  }
}
.g-github__avatarChild {
  border-radius: $border-radius;
  height: $avatarChild-height;
  width: $avatarChild-height;
  position: absolute;
  background: $color-white;
  padding: 3px;
  border: 1px solid $color-gray-lightest;
  top: $avatarChild-offset;
  left: $avatarChild-offset;
  @include max-width($bp-sm) {
    height: $avatarChild-height-sm;
    width: $avatarChild-height-sm;
    top: $avatarChild-offset-sm;
    left: $avatarChild-offset-sm;
  }
}

.a-githubCheck {
  .is-js & {
    opacity: 0;
  }
  .is-js .is-visible & {
    @include animation("fadeIn #{$fadeDuration} 500ms forwards");
  }
}

// g-metadata
$indent: 2em;
$y-padding-input: 0.25em;
$x-padding-input: 0.5em;

.g-metadata {
  padding: 1.2em;
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lighter;
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius;
  font-size: $font-size-n1;
  color: $color-gray-dark;
  background-color: $color-white;
}
.g-metadata__icon {
  position: absolute;
  left: 0;
  color: $color-blue;
  font-size: $font-size-2;
  line-height: 1.25;
}
.g-metadata__icon--nested {
  left: -1.5em;
  top: 0.2em;
}
.g-metadata__fieldKey {
  font-weight: $font-weight-semibold;
  margin-bottom: $v * 0.5;
  position: relative;
  &:not(:first-of-type) {
    margin-top: $v * 0.75;
  }
  padding-left: $indent;
}
.g-metadata__fieldValue {
  @extend %pre;
  @extend %input;
  padding: $y-padding-input $x-padding-input;
  margin-left: $indent;
}
.g-metadata__fieldList {
  margin-left: 0.2em;
  border-left: 3px solid $color-gray-lightest;
  padding-left: calc(#{$indent} + 1em - 0.2em);
}
.g-metadata__fieldList__item {
  position: relative;
  &:not(:last-of-type) {
    margin-bottom: $v * 1;
  }
}
.g-metadata__fieldList__keyValue {
  &:not(:last-of-type) {
    margin-bottom: 0.75em;
  }
  @include clearfix;
}
.g-metadata__fieldList__item__key,
.g-metadata__fieldList__item__value {
  padding: $y-padding-input $x-padding-input;
  @include ellipsis;
  float: left;
}
.g-metadata__fieldList__item__key {
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius;
  width: calc(25% - 0.75em);
  margin-right: 0.75em;
}
.g-metadata__fieldList__item__value {
  @extend %pre;
  @extend %input;
  width: 75%;
}
.g-metadata__input {
  pointer-events: auto;
  border: 0;
  line-height: $line-height-base;
  &:focus {
    padding: $y-padding-input $x-padding-input;
  }
}

// @include keyframes(genDir) {
//   0% {
//     opacity: 0;
//     height: auto;
//   }
//   100% {
//     opacity: 1;
//     height: auto;
//   }
// }

// .a-genDir {
//   .is-js & {
//     height: 0;
//     opacity: 0;
//   }
//   .is-js .is-visible & {
//     @include animation("genDir #{$fadeDuration} 300ms forwards");
//   }
// }

// g-develop
$height-window--develop: 25em;
$v-offset-window--develop: 2.5em;

.g-develop {
  position: relative;
  padding-bottom: $v-offset-window--develop;
  .g__window {
    height: $height-window--develop;
    width: 95%;
    &:nth-child(2) {
      position: absolute;
      left: 5%;
      bottom: 0;
    }
  }
}
.g-develop__navButton {
  color: $color-gray-light;
  position: relative;
  top: 0.1em;
  line-height: 0;
  @include max-width($bp-xs) {
    display: none;
  }
}
.g-develop__navInput {
  background-color: $color-white;
  display: inline-block;
  width: 50%;
  border-radius: $border-radius;
  line-height: 1.3;
}

// g-editor
.g-editor {
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lighter;
  position: relative;
}
.g-editor__bar {
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: 0;
  padding: 0.75em;
}
.g-editor__button {
  color: $color-gray;
  border-radius: $border-radius;
  background-color: $color-gray-lightest;
  display: inline-block;
  vertical-align: middle;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  margin-right: 0.25em;
}
.g-editor__bold {
  font-weight: bold;
}
.g-editor__textarea {
  background-color: $color-white;
  border: 1px solid $color-gray-lighter;
  color: $color-gray-darker;
  font-family: $font-family-monospace;
  overflow: auto;
  white-space: pre-wrap;
  padding: 1em;
  border-radius: 0 0 $border-radius $border-radius;
  position: relative;
  max-height: 18em;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-gray-lighter, 0.8);
  }
}
.g-editor__hover {
  position: absolute;
  left: 40%;
  bottom: 1.5em;
  color: $color-white;
  text-align: center;
}
.g-editor__fileIcon {
  font-size: $font-size-0;
  vertical-align: middle;
}
.g-editor__fileIcon,
.g-editor__fileName {
  display: inline-block;
}
.g-editor__fileName {
  font-size: $font-size-n3;
  font-family: sans-serif;
  background-color: $color-blue-dark;
  border-radius: 1em;
  padding: 0 0.75em;
}
.g-editor__cursorGroup {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -1.1em;
}
.g-editor__cursor {
  display: inline-block;
  @include rotate("24deg");
}
.g-editor__cursorPlus {
  display: inline-block;
  font-size: $font-size-n1;
  text-align: center;
  background-color: $color-green;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  line-height: 20px;
  position: relative;
  top: 0.75em;
  left: -1.05em;
}

$hover-translate: "1em, 4em";

@include keyframes(editorTextArea) {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba($color-gray-lighter, 0.8);
  }
}

@include keyframes(editorHover) {
  0% {
    @include translate($hover-translate);
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  100% {
    @include translate("0, 0");
    opacity: 1;
  }
}

.a-editorTextarea {
  .is-js & {
    &:before {
      background-color: transparent;
    }
  }
  .is-js .is-visible & {
    &:before {
      @include animation("editorTextArea 50ms 500ms forwards");
    }
  }
}

.a-editorHover {
  .is-js & {
    @include translate($hover-translate);
    opacity: 0;
  }
  .is-js .is-visible & {
    @include animation("editorHover #{$fadeDuration} #{$easeInSine} 500ms forwards");
  }
}
