// Features sections
// -----------------

.logo {
  height: 94px;
}

.section {
  padding-top: $v * 3;
  padding-bottom: $v * 3;
}
.section--smoke {
  @extend %background--smoke;
}
.section--blue {
  @extend %background--blue;
}
.section--green {
  @extend %background--green;
}
.section--navy {
  @extend %background--navy;
}
.section--left {

}
.section--right {
  // margin-left: 50%; // TO DO: make using columns
}
.section--center {
  // text-align: center; // TO DO
}

.section__title {
  @extend %text--title;
}
.section__title--headline {
  margin-top: $v * 0.5;
}
.section__body {
  @extend %text--body;
}

// Footer
// ------

.page__footer {
  // text-align: center;
  @extend %background--navy;
  padding-top: $v * 1.5;
  padding-bottom: $v * 1.5;
}

.loveIcon {
  color: $color-magenta;
  display: inline-block;
  @include transform(translateY(0.2em));
}
