// General layout
// --------------

.page__main {
  margin-top: $v * 4.5;
  margin-bottom: $v * 6;
}

.page__main--teaser {
  margin-top: 0;
  margin-bottom: 0;
}

@import 'layout__header';
@import 'layout__footer';
@import 'layout__teaser';
@import 'layout__post';
@import 'layout__archive';
