// Archive
// -------

.archive {
  padding-bottom: $spacing-bottom--section;
}

.archive__list {
  @extend %list--unformatted;
}

.archive__month {
  color: $color-gray-a1;
}

.archive__item {
  display: table;
}

.archive__title {
  @extend %link--alt;
}
.archive__title--deprecated {
  color: $color-gray-a1; // TO DO: decide on this
}

.archive__day {
  display: table-cell;
  width: 1.75em;
  @extend %text--bold;
}
