// Features
// --------

.logo {
  height: 94px; // natural height of asset
}

// sections
.section {
  padding-top: $v * 3;
  padding-bottom: $v * 3;
}
.section--smoke {
  @extend %background--smoke;
}
.section--gray {
  @extend %background--gray;
}
.section--blue {
  @extend %background--blue;
}
.section--green {
  @extend %background--green;
}
.section--navy {
  @extend %background--navy;
}
.section--graphic {

}

.section__title {
  @extend %text--title;
}
.section__title--headline {
  margin-top: $v * 0.5;
}
.section__body {
  @extend %text--body;
}

.section__graphic {
  @include responsive-image;
  pointer-events: none;
  margin-top: $v * 1.5;
}

// graphic: GitHub
$avatar-height:        72px;
$avatar-height-sm:     60px;
$github__item-padding: 1.5rem;

.g-github {
  font-family: sans-serif;
  font-size: $font-size-n1;
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lightest;
  border: 1px solid $color-gray-lightest;
}
.g-github__item {
  background-color: $color-white;
  padding: 1em;
  position: relative;
  height: calc(#{$avatar-height} + #{$github__item-padding});
  &:not(:last-of-type) {
    border-bottom: 1px solid $color-gray-lightest;
  }
  &:first-of-type {
    border-radius: $border-radius $border-radius 0 0;
  }
  &:last-of-type {
    border-radius: 0 0 $border-radius $border-radius;
  }
  @include max-width($bp-sm) {
    height: calc(#{$avatar-height-sm} + #{$github__item-padding});
  }
}
.g-github__text {
  padding-left: calc(#{$avatar-height} + #{$github__item-padding / 2});
  @include max-width($bp-sm) {
    padding-left: calc(#{$avatar-height-sm} + #{$github__item-padding / 2});
  }
}
.g-github__commitTitle,
.g-github__commitMeta {
  @include ellipsis;
}
.g-github__commitTitle {
  color: $color-gray;
  margin-bottom: 0;
}
.g-github__commitMeta {
  font-size: $font-size-n1;
  color: $color-gray-light;
}
.g-github__commitTitle,
.g-github__user {
  font-weight: bold;
}
.g-github__avatar {
  background-color: $color-gray-lightest;
  border-radius: $border-radius;
  width: $avatar-height;
  height: $avatar-height;
  position: absolute;
  left: 0.75rem;
  top: 0.75rem;
  @include max-width($bp-sm) {
    width: $avatar-height-sm;
    height: $avatar-height-sm;
  }
}
.g-github__avatar__identicon {
  width: 100%;
  height: 100%;
  .g-github__item:nth-of-type(1) & {
    fill: $color-magenta; 
  }
  .g-github__item:nth-of-type(2) & {
    fill: $color-orange; 
  }
  .g-github__item:nth-of-type(3) & {
    fill: $color-mint; 
  }
}
.g-github__avatarChild {
  border-radius: $border-radius;
  height: 33px;
  width: 33px;
  position: absolute;
  background: $color-white;
  padding: 3px;
  border: 1px solid $color-gray-lightest;
  top: 60px;
  left: 60px;
  @include max-width($bp-sm) {
    height: 30px;
    width: 30px;
    top: 48px;
    left: 48px;
  }
}

// graphic: editor
.g-editor {
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lightest;
}
.g-editor__bar,
.g-editor__textarea {
  border: 1px solid $color-gray-lightest;
}
.g-editor__bar {
  background-color: $color-white;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: 0;
  padding: 0.5em;
}
.g-editor__button {
  color: $color-gray;
  border-radius: $border-radius;
  background-color: $color-gray-lightest;
  display: inline-block;
  vertical-align: middle;
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  text-align: center;
  margin-right: 0.25em;
}
.g-editor__bold {
  font-weight: bold;
}
.g-editor__textarea {
  @extend %pre;
  @extend %input;
  border-top: 0;
  color: lighten($color-gray-dark, 12.5%);
  font-family: $font-family-monospace;
  overflow: auto;
  white-space: pre-wrap;
  padding: 1em;
  border-radius: 0 0 $border-radius $border-radius;
}

// graphic: develop
$height-window: 21em;
$window-offset: 2.4em;

.g-develop {
  position: relative;
  padding-bottom: $window-offset;

}
.g-develop__window {
  border: 1px solid $color-gray-lighter;
  border-radius: $border-radius;
  background-color: $color-white;
  box-shadow: 0 $button-thickness $button-thickness $color-black-alpha-lightest;
  height: $height-window;
  overflow: hidden;
  width: 92%;
  &:nth-child(2) {
    position: absolute;
    top: $window-offset;
    left: 8%;
  }
}
.g-develop__topBar {
  font-family: sans-serif;
  text-align: center;
  background-color: lighten($color-gray-lighter, 7.5%);
  color: $color-gray;
  padding: 0.1em;
  font-size: $font-size-n3;
  & > * {
    display: inline-block;
  }
}
.g-develop__topButtons {
  position: absolute;
  left: 0.5em;
}
.g-develop__windowButton {
  background-color: $color-gray-lighter;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 0.75em;
  margin-right: 0.15em;
  &:nth-child(3) {
    margin-right: 0.5em;
  }
}
.g-develop__navButton {
  color: $color-gray-light;
  position: relative;
  top: 0.1em;
}
.g-develop__site__navInput {
  background-color: $color-white;
  display: inline-block;
  width: 50%;
  border-radius: $border-radius;
  line-height: 1.3;
}
.g-develop__site__content {
  font-family: sans-serif;
  padding: 1em;
  color: $color-gray;
  h1 {
    font-weight: bold;
    color: $color-blue;
    font-size: $font-size-3;
  }
}
.g-develop__editor {
  background-color: $color-navy;
}
.g-develop__editor__text {
  color: $color-white;
  font-family: $font-family-monospace;
  white-space: pre-wrap;
  padding: 1em 1em 0;
}
