// Nav
// ---

$logo-natural-height: 94px;

.nav {
  position: relative;
}

.nav__logoLink {
  @include vert-align-middle;
  left: 0;
}

.nav__logo {
  height: $logo-natural-height / $font-size-html * 1em;
}

.nav__list {
  display: inline-block;
  @extend %list--unformatted;
}
.nav__list--header {
  margin-bottom: 0;
  padding-top: $spacing-top--section;
  padding-bottom: $spacing-bottom--section;
}

.nav__item {
  display: inline-block;
}
.nav__item--footer {
  @include max-width($bp-footer-collapses) {
    display: block;
  }
}

.nav__link {
  margin: 0.3em 0.6em;
  @include min-width($bp-header-shows) {
    .nav__item--header:last-child & {
      margin-right: 0;
    }
  }
  // TO DO: (1) make this more modular
  .page__header &:not(.button) {
    color: $color-green-dark;
    &:hover {
      color: darken($color-green-dark, 7.5%);
    }
  }
  .page__header--dark &:not(.button) {
    color: $color-white;
    &:hover {
      color: rgba($color-white, 0.6);
    }
  }
  // end TO DO
}
.nav__link--footer {
  @extend %link--default;
}
.nav__link--active {
  .page__header &:not(.button) { // TO DO: decrease specificity once (1) is addressed
    color: $color-gray-a1;
    &:hover {
      color: $color-gray-a1;
    }
  }
  .page__header--dark & {
    color: $color-white;
  }
}

@include max-width($bp-header-collapses) {

  .nav__logoLink {
    position: static;
  }

  .nav__logo {
    margin-top: $v * 2;
  }

  .nav__list--header {
    display: block;
    padding-top: $v * 1;
    padding-bottom: $v * 1;
  }

}
