// Post
// ----

.post img {
  @include responsive-image;
}

$width--bullet: 1em;
.post ul li {
  list-style-type: none;
  &:before {
    position: relative;
    display: inline-block;
    width: $width--bullet;
    left: -$width--bullet;
    margin-right: -$width--bullet;
    content: "•";
    font-size: $font-size-1;
  }
}
