// Post
// ----

.post {
  padding-bottom: $spacing-bottom--section;
  img {
    @include responsive-image;
  }
}
.post + .post {
  padding-top: $spacing-top--section * 2;
}

.post__header {
  margin-bottom: $v * 1.5;
  @include max-width($bp-header-collapses) {
    text-align: center;
  }
}

.post__hero {
  margin-bottom: $v * 1.5;
  text-align: center;
}
.post__hero--linked {
  @extend %figure--hover;
}

.post__title__link {
  @extend %link--default;
}

.post__hero__image {
  width: 100%;
}

.post__meta {
  @extend %text--small;
  color: $color-gray-a1;
}

.post__tags {
  display: inline-block;
  @extend %list--unformatted;
  margin-bottom: 0;
}

.post__tag {
  display: inline-block;
  &:not(:last-of-type):after {
    content: ",";
  }
}

.post__tagLink {
  @extend %link--alt;
}

.post__warning {
  margin-left: 0.5em;
  @extend %text--caps;
  @extend %text--smaller;
  background-color: lighten($color-yellow, 40%); // TO DO: decide on this
  padding: 0.08em 0.32em;
  border-radius: $border-radius;
  color: $color-true-gray-a1;
}

$width--bullet: 1em;

.post__content {
  a {
    @extend %link--default;
  }
  pre,
  img,
  figure {
    margin-top: $v * 1.25;
    margin-bottom: $v * 1.25;
  }
  img + figcaption {
    margin-top: -$v * 1;
  }
}

.post__footer__link {
  @extend %link--default;
  display: inline-block;
}
.post__footer__link--back {
  margin-top: $spacing-top--section;
}
