// Footer
// ------

.page__footer--teaser {
  @extend %background--navy;
  padding-top: $v * 1.5;
  padding-bottom: $v * 1.5;
  color: $color-white-alpha;
  .page__footer__link {
    color: $color-white;
  }
}

.page__footer:not(.page__footer--teaser) {
  // TO DO: remove :not after teaser is removed
  text-align: center;
  padding-top: $spacing-top--section;
  padding-bottom: $spacing-bottom--section * 1.5;
}

.copyright {
  display: block;
}

.page__footer__link {
  @extend %link--alt;
}
