// Archive
// -------

.archive__list {
  @extend %list--unformatted;
}

.archive__item {
  display: table;
}

.archive__day {
  display: table-cell;
  width: 1.5em;
}

.archive__title {
  @extend %link--default;
}
