// Post
// ----

$width--bullet: 1em;

.post {
  a {
    color: $color-blue;
    &:hover {
      color: $color-blue-dark;
    } 
  }
  img {
    @include responsive-image;
  }
  pre,
  img {
    margin-top: $v * 1.25;
    margin-bottom: $v * 1.25;
  }
  ul li {
    list-style-type: none;
    &:before {
      position: relative;
      display: inline-block;
      width: $width--bullet;
      left: -$width--bullet;
      margin-right: -$width--bullet;
      content: "•";
      font-size: $font-size-1;
    }
  }
}

.post--excerpt {
  margin-top: $v * 6;
  margin-bottom: $v * 6;
}