// Typography
// ----------

%text--larger {
  font-size: $font-size-2;
  line-height: $line-height-tight;
}

%text--large {
  font-size: $font-size-1;
  line-height: $line-height-tight;
}

%text--small {
  font-size: $font-size-n1;
}

%text--smaller {
  font-size: $font-size-n2;
}

%text--caps {
  text-transform: uppercase;
  letter-spacing: $letter-spacing-loose;
}

%text--italic {
  font-style: italic;
}

%text--bold {
  font-weight: $font-weight-semibold;
}

%text--semibold {
  font-weight: $font-weight-semibold;
}

%text--light {
  font-weight: $font-weight-light;
}

// Code

%pre {
  background-color: $color-gray-lightest;
}

// Sections
// --------

%background--dark {
  color: $color-white;
  %text--title,
  %text--subtitle {
    color: $color-white;
  }
  %text--body {
    color: $color-black-alpha-dark;
  }
}

%background--smoke {
  background-color: $color-gray-lightest;
}

%background--dark,
%background--smoke {
  %pre {
    background-color: $color-black-alpha-light;
  }
}


%background--blue {
  background-color: $color-blue;
  @extend %background--dark;
}

%background--green {
  background-color: $color-green;
  @extend %background--dark;
}

%background--navy {
  background-color: $color-navy;
  @extend %background--dark;
}
