



<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="description" content="Following sort and where, this Advanced Liquid post introduces another handy new filter to Siteleaf: group_by.

As the name suggests, this filter allows you to group your content by a certain property. 

For example, here’s how we could group all posts by year published:

{% assign posts_by_year ...">
  <meta property='st:title' content='Advanced Liquid: Group By' />
  <meta name="twitter:widgets:link-color" content="#0091e5">

  
    <title>Advanced Liquid: Group By</title>
  

  <link href="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/css/style.css">
  <link rel="icon shortcut" href="/images/favicon.ico">
  
  <script type="text/javascript" src="//use.typekit.net/tti2qoh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1666437-33', 'siteleaf.com');
    
    ga('send', 'pageview');
  </script>

  
    <a class="v2Teaser" href="http://v2.siteleaf.com">We’re working on great updates to Siteleaf &rarr;</a>
  
  <section class="layer main">
      <header>
        <h1 class="logo">
          <a href="/">Siteleaf</a>
        </h1>
        <span class="ss-rows main-nav-toggle right">Menu</span>
        <nav>
          <ul class="main-nav">
            
              
            
              
                <li class="main-nav-item">
                  <a href="/plans">Plans</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/blog">Blog</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/gallery">Gallery</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/themes">Themes</a>
                </li>
              
            
              
            
              
            
              
            
              
            
            <li class="main-nav-item">
              <a href="https://manage.siteleaf.com">Log in</a>
            </li>
            <li class="main-nav-item get-started-nav-item">
              <a href="https://manage.siteleaf.com/signup" class="get-started-btn">Sign up</a>
            </li>
          </ul>
        </nav>
      </header>

      
  </section>

  
  <section class="layer blog">
    
      
      <article>
  
  <figure>
    <a href="/blog/advanced-liquid-group-by"><img src="/assets/group_by.svg" alt="Advanced Liquid: Group By" /></a>
  </figure>
  
  <h2 class="title">
    
      Advanced Liquid: Group By
    
  </h2>
  <header class="blog-byline">
  
    <h6 class="blog-tag"><a href="/blog/tags/tutorial">tutorial</a></h6>
  
    <h6 class="blog-tag"><a href="/blog/tags/liquid">liquid</a></h6>
  
    <time datetime="2015-04-09">Apr 09, 2015</time>
     by Skylar Challand
  </header>
  
    <p>Following <a href="/blog/advanced-liquid-sort/"><code>sort</code></a> and <a href="/blog/advanced-liquid-where/"><code>where</code></a>, this <a href="/blog/tags/liquid">Advanced Liquid</a> post introduces another handy new filter to Siteleaf: <code>group_by</code>.</p>

<p>As the name suggests, this filter allows you to group your content by a certain property. </p>

<p>For example, here’s how we could group all posts by year published:</p>

<pre><code class="liquid">{% assign posts_by_year = site.posts | group_by:&quot;year&quot; %}
</code></pre>

<p>You can group by <a href="/help/themes/variables/content/">any property</a> like date, title, slug, even metadata and taxonomy. Here are a few real-world examples you may want to apply to your theme.</p>

<h3>Group posts by author</h3>

<p>With multiple authors on our blog, it may be a good idea to group together posts by each author. So let&rsquo;s do that.</p>

<p>Starting with <code>site.posts</code> (all posts within our site), we can apply the <code>group_by</code> filter with <code>author</code> as the parameter:</p>

<pre><code class="liquid">{% assign posts_by_author = site.posts | group_by:&quot;author&quot; %}
</code></pre>

<p>Behind the scenes, posts are collected into an array which looks something like this:</p>

<pre><code class="json">[
  {&quot;name&quot;: &quot;Skylar Challand&quot;, &quot;items&quot;: [...]},
  {&quot;name&quot;: &quot;Larry Fox&quot;, &quot;items&quot;: [...]},
  ...
]
</code></pre>

<p>The property (in this case <code>author</code>) can be accessed by <code>name</code> and matching posts are grouped under <code>items</code>. Knowing that, we can display our grouped posts like this:</p>

<pre><code class="liquid">{% for author in posts_by_author %}
  &lt;dt&gt;{{author.name}}&lt;/dt&gt;
  {% for posts in author.items %}
  &lt;dd&gt;&lt;a href=&quot;{{post.url}}&quot;&gt;{{post.title}}&lt;/a&gt;&lt;/dd&gt;
  {% endfor %}
{% endfor %}
</code></pre>

<p><strong>Tip:</strong> To sort our authors alphabetically we could also apply <code>sort</code> to our group:</p>

<pre><code class="liquid">{% assign posts_by_author = site.posts | group_by:&quot;author&quot; | sort:&quot;name&quot; %}
</code></pre>

<h3>Group posts by metadata</h3>

<p><code>group_by</code> also works on metadata and taxonomy. For example, here’s how we could group posts by color:</p>

<pre><code class="liquid">{% assign posts_by_color = site.pages | group_by:&quot;meta.color&quot; %}
</code></pre>

<p>Our grouped array will look something like this:</p>

<pre><code class="json">[
  {&quot;name&quot;: &quot;red&quot;, &quot;items&quot;: [...]},
  {&quot;name&quot;: &quot;blue&quot;, &quot;items&quot;: [...]},
  ...
]
</code></pre>

<h3>Archive page</h3>

<p>Grouping posts by year is a common pattern on archive pages. Since Siteleaf already <a href="/help/themes/naming-your-files/">generates archive pages</a> for us, we can easily sprinkle in <code>group_by</code> and have a beautiful blog archive in minutes.</p>

<p>First, let’s group our posts by year:</p>

<pre><code class="liquid">{% assign posts_by_year = posts | group_by:&quot;year&quot; %}
</code></pre>

<p><small>Note: We are using <code>posts</code> in this case rather than <code>site.posts</code> because we only want posts relative to this page (but either could work).</small></p>

<p>Now we can display our grouped posts:</p>

<pre><code class="liquid">{% for year in posts_by_year %}
  &lt;h2&gt;{{year.name}}&lt;/h2&gt;
  &lt;ul&gt;
  {% for post in year.items %}
    &lt;li&gt;&lt;a href=&quot;{{post.url}}&quot;&gt;{{post.title}}&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
  &lt;/ul&gt;
{% endfor %}
</code></pre>

<p><strong>Extra credit:</strong> We could take this a step further and do a multi-level group, showing posts by year AND month:</p>

<pre><code class="liquid">{% for year in posts_by_year %}
  &lt;h2&gt;{{year.name}}&lt;/h2&gt;
  {% assign posts_by_month = year.items | group_by:&quot;month&quot; %}
  {% for month in posts_by_month %}
    &lt;h3&gt;{{month.items.first.date | date:&quot;%B&quot;}}&lt;/h3&gt;
    &lt;ul&gt;
    {% for post in month.items %}
      &lt;li&gt;&lt;a href=&quot;{{post.url}}&quot;&gt;{{post.title}}&lt;/a&gt;&lt;/li&gt;
    {% endfor %}
    &lt;/ul&gt;
  {% endfor %}
{% endfor %}
</code></pre>

<p>In case you&rsquo;re wondering, <code>%B</code> gives us the month name (e.g. “April”) from a date. For full documentation see our <a href="/help/themes/filters-and-tags/date-formating">date formatting</a> guide.</p>

<p>Until next time, happy coding!</p>

<p><small>Follow <a href="http://twitter.com/siteleaf">@siteleaf</a> and stay tuned for more <a href="/blog/tags/liquid">Advanced Liquid</a>.</small></p>

    <p class="back"><a href="/blog">&larr; Back to Blog</a></p>
  
</article>

    
  </section>


  <footer class="layer">
    <section>
      <nav>
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="/help">Help</a>
          <li class="footer-nav-item"><a href="/help/themes">Documentation</a>
          <li class="footer-nav-item"><a href="/">Features</a>
          <li class="footer-nav-item"><a href="/purpose">Purpose</a>
          <li class="footer-nav-item"><a href="/privacy">Privacy</a>
          <li class="footer-nav-item"><a href="/terms">Terms</a>
          <li class="footer-nav-item"><a href="https://github.com/siteleaf/siteleaf-api" target="_blank">API</a>
          <li class="footer-nav-item"><a href="http://status.siteleaf.com" target="_blank">Status</a>
        </ul>
      </nav>
      <small class="footer-copy">&copy;2016 Siteleaf™ is made by <a href="http://oak.is">Oak</a>. Follow <a href="http://twitter.com/siteleaf">@siteleaf</a></small>
    </section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="/scripts/js/min/application.js"></script>
  
  <script src="/scripts/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function(){
      $("section.blog").fitVids();
    });
  </script>

  <script src="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.js"></script>
</body>
</html>