{% include 'includes/header' %}
<section class="layer blog">
  {% if type == "post" %}
  <article>
    {% if assets.size > 0 %}
    <figure>
      <img src="{{assets[0].url}}" alt="{{post.title}}" />
    </figure>
    {% endif %}
    <h2 class="title">{{title}}</h2>
    <section class="blog-byline">
    {% for tag in taxonomy.first.values %}
      <h6 class="blog-tag"><a href="{{tag.url}}">{{tag.value}}</a></h6>
    {% endfor %}
      <time datetime="2013-05-27">{{date | date: "%b %d, %Y"}}</time>
    </section>
    <p>{{body}}</p>
    {% if parent %}
      <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
    {% endif %}
  </article>
  {% endif %}
</section>
{% include 'includes/footer' %}