{% capture content %}
  <section class="layer blog">
    {% if type == 'post' %}
      {% assign post = current %}
      {% include 'includes/post' %}
    {% else %}
      {% for post in posts %}
        {% include 'includes/post' %}
      {% endfor %}
    {% endif %}
  </section>
{% endcapture %}

{% capture footer_scripts %}
  <script src="/scripts/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function(){
      $("section.blog").fitVids();
    });
  </script>
{% endcapture %}

{% include 'layouts/default' %}