@import 'sass-toolbox';
// @import '/styles/sass/foundation.css';
@import 'solarized_siteleaf';

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:top;box-sizing:border-box;-moz-box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1}
ol,ul{list-style:none}
button, input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button;-moz-appearance:button;appearance:button;}

@charset "UTF-8";

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

::-moz-selection {
  color:#fff;
  background:#00a1ff;
}

::selection {
  color:#fff;
  background:#00a1ff;
}

body {
    width:100%;
    height:100%;
    background:white;
    font-family:"source-sans-pro", "helvetica", sans-serif;
    font-style:normal;
    font-weight:normal;
    text-align:center;
    font-size:16px;
    color:rgba(39,65,90,1);
}

header {
    width:100%;
    padding:36px 0;
    float:left;
}

nav {
    display:block;
}

h1, h2 {
    display:block;
    color:#0091e5;
    font-size:3em;
    line-height:1.125em;
    font-weight:300;
}

h3 {
    margin:0 0 24px;
    font-size:2.75em;
    line-height:1.125em;
    font-weight:300;
}

.get-started--title{
    @include max-width($bp_nav_hides){
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}

h4 {
    margin-bottom:12px;
    font-size:1.25em;
    font-weight:400;
    text-transform:uppercase;
}

h5 {
    font-size:1.75em;
}

h6 {
    display:inline-block;
}

p {
    margin-top:1em;
    margin-bottom:1em;
    color:rgba(39,65,90,.9);
    font-size:1.25em;
    line-height:1.625em;
}

p:first-of-type {
    margin-top:0;
}

a {
    text-decoration:none;
}

h2 a, p a, li a, small a {
    color:#0091e5;
}

h2 a:hover, p a:hover, li a:hover, small a:hover {
    color:#0081cc;
}

strong {
    color:rgba(39,65,90,1);
    font-weight:600;
}

em {
    font-style:italic;
}

code {
    font-family: $monospace;
}

small, del {
    color:rgba(39,65,90,.5);
    font-size:1em;
    line-height:1.5em;
}

sup {
    vertical-align:top;
}

img {
    width:100%;
    margin:0;
    display:block;
}

form {
    width:100%;
    float:left;
    display:block;
    overflow:hidden;
}

label {
    width:100%;
    display:block;
    color:rgba(39,65,90,.75);
    font-size:1.25em;
    font-weight:400;
}

::-webkit-input-placeholder {
    color:rgba(39,65,90,.25);
}

:-moz-placeholder {
    color:rgba(39,65,90,.25);
}

form input {
    margin-bottom:30px;
    float:left;
}

button, input[type="button"], input[type="submit"], .button {
    padding:18px 48px;
    border:0;
    border-bottom:2px solid rgba(39,65,90,.3);
    color:white;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
    -webkit-transition:all .05s ease-out;
    -moz-transition:all .05s ease-out;
    -o-transition:all .05s ease-out;
    transition:all .05s ease-out;
    text-decoration: none;
}

input {
    float:left;
    border:none;
    outline:none;
    -webkit-appearance:none;
}

input[type="email"], input[type="password"], input[type="text"] {
    width:100%;
    max-width:756px;
    height:68px;
    padding:3px 18px 6px;
    background:#e7f2f0;
    color:rgba(39,65,90,1);
    font:400 1.25em "source-sans-pro", "helvetica", sans-serif;
    -webkit-box-shadow:inset 0 2px 0 rgba(39,65,90,.075);
    -moz-box-shadow:inset 0 2px 0 rgba(39,65,90,.075);
    box-shadow:inset 0 2px 0 rgba(39,65,90,.075);
    border-radius:4px;
    -moz-border-radius:4px;
    border:2px solid white;
    -webkit-transition:border .05s ease-out;
    -moz-transition:border .05s ease-out;
    -o-transition:border .05s ease-out;
    transition:border .05s ease-out;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    background:white;
    border:2px solid #00a1ff;
}

.is-hidden{
    display: none;
}


/*========================================



========================================*/

.uppercase {
    text-transform:uppercase;
}

.right {
    float:right;
}

.wrap{
    max-width: $w_base;
    width: 95%;
    margin: auto;
}

.layer {
    clear:both;
    width:100%;
    height:auto;
    padding:60px 7.5% 60px;
    display:block;
}

.layer > section, .layer > article {
    clear:both;
    width:100%;
    height:auto;
    max-width: $w_base;
    margin:0 auto;
    display:block;
}

.green-button {
    background:#8dcf3f;
}

.green-button:hover {
    background:#78b336;
}

.blue-button {
    background:#00a1ff;
}

.blue-button:hover {
    background:#0089d9;
}

.large-button {
    width:100%;
    max-width:756px;
    padding:24px 48px;
    margin:36px auto 0;
    float:center;
    display:block;
    font:300 2.75em "source-sans-pro", "helvetica", sans-serif;

    @include max-width($bp_nav_hides){
        font-size: 1.5em;
        margin-top: 18px;
    }
}

.small-button {
    float:center;
    font:400 1.25em "source-sans-pro", "helvetica", sans-serif;
}

.third {
    width:100%;
    margin:0 0 48px;
    display:inline-block;
}

.two-thirds {
    width:100%;
    margin:0 0 48px;
    display:inline-block;
}

.main {
    padding-top:0;
    padding-bottom:0;
    overflow:hidden;
    @include max-width($bp_nav_hides){ // v2
        padding-top: $height_teaser;
    }
}

.main.dark {
    background-color: #00A1FF;
}

.logo {
    width:66px;
    height:94px;
    display:inline-block;
    text-indent:-9999px;
    background:url('/images/logo.svg') no-repeat center;
    background-size:100%;

    @include min-width($bp_nav_hides + 1){
        float: left;
    }
}

.logo a {
    width:100%;
    height:100%;
    display:inline-block;
    float:left;
}

.main-nav-toggle{
    @include user-select(none);
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: $height_teaser;
    right: 0;
    padding: 20px 15px 15px;
    display: none;
    z-index: 9999;
    color: $blue;

    @include max-width($bp_nav_hides){
        display: inline-block;
    }

    &:after{
        margin-left: 7px;
        font-size: 32px;
        top: -3px;
        position: relative;
        vertical-align: middle;
    }

    .is-showing-nav &{
        color: transparent;
        top: 0;

        &:after{
            color: #fff;
            content: '␡';
        }
    }
}

.dark .main-nav-toggle{
    color: rgba(#fff, 0.75);

    &:after{
        color: #fff;
    }
}

.main-nav {
    margin:21px 0;
    float:right;
    color:rgba(39,65,90,.5);

    @include max-width($bp_nav_hides){
        float: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($dark_blue, 0.9);
        margin: 0;
        padding: 20px;
        z-index: 9998;
        overflow: auto;
        display: none;

        .is-showing-nav &{
            display: block;
        }
    }
}

.main-nav-item {
    padding:15px 0 0 30px;
    display:inline-block;
    font-size:1.25em;
    text-align:right;

    @include max-width($bp_nav_hides){
        display: block;
        text-align: left;
        font-size: 24px;
        padding: 0;

        a{
            padding: 15px 20px;
            display: block;
        }
    }
}

.main-nav a {
    color:#7abf26;

    @include max-width($bp_nav_hides){
        color: #fff;
    }
}

.main.dark .main-nav a {
    color:#FFF;
}

.main-nav a:hover {
    color:#6aa621;
}

.main.dark .main-nav a:hover {
    color:rgba(255,255,255,.5);
}

.main-nav a.selected {
    color:rgba(39,65,90,.5);
}

.main-nav a.selected:hover {
    color:rgba(39,65,90,.5);
}

.get-started-nav-item{
    padding-top: 5px;
}

.main-nav .get-started-btn:hover{
    background-color: #6aa621;
    color: #fff;
}

.main.dark .main-nav .get-started-btn{
    background-color: rgba(0, 0, 0, 0.1);
}

.main.dark .main-nav .get-started-btn:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.main-nav .get-started-btn{
    border-radius:3px;
    background: #7abf26;
    display: inline-block;
    padding: 10px 10px 8px;
    color: #fff;

    @include max-width($bp_nav_hides){
        padding: 15px 20px;
        display: block;
        background: none !important;
    }
}

.lift {
    position:relative;
    -webkit-transition:all .075s ease-out;
    -moz-transition:all .075s ease-out;
    -o-transition:all .075s ease-out;
    transition:all .075s ease-out;
}

.lift:hover {
    top:-3px;
    -webkit-box-shadow:0 2px 6px rgba(39,65,90,.15);
    -moz-box-shadow:0 2px 6px rgba(39,65,90,.15);
    box-shadow:0 2px 6px rgba(39,65,90,.15);
}

.screenshot {
    width:100%;
    max-width:756px;
    margin:0 auto 0;
    border-top:12px solid rgba(39,65,90,.15);
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.screenshot.lift:hover {
    top:-12px;
}


/*========================================

                 CAROUSEL

========================================*/

.image-wrapper {
    margin:0 auto;
    overflow:visible;
    cursor: pointer;
    position: relative;
}

.image-carousel {
    margin:0 auto 0;
    padding-top: 56.2%;
    position:relative;
    overflow: hidden;
    background:#DDD;
}

.image-carousel li {
    width:100%;
    position:absolute;
    top:0;
    display:none;
    opacity:0;
    transition:opacity .5s ease-out;
}
.image-carousel .fadein {
    opacity:1;
}
.image-carousel .active {
    display:block;
}

.image-carousel img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.play-ic{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90px;
    width: 90px;
    margin: -45px 0 0 -45px;
    z-index: 10;
    font-size: 60px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    line-height: 1;
    padding: 16px 0 0;
    border-radius: 50%;
    text-indent: 6px;
    transition:background .5s ease-out;
}

.image-wrapper:hover .play-ic{
    background: #7abf26;
}


/*========================================

                 HOME

========================================*/

.intro-header{
    margin-bottom: 60px;
    color: #FFF;
    line-height: 1.4;

    @include max-width(780px){
        font-size: 36px;
    }

    @include max-width(600px){
        font-size: 26px;
        margin-bottom: 40px;
    }

    @include max-width(420px){
        br{
            display: none;
        }
    }
}

.main .screenshot {
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -o-transition:all .25s ease-out;
    transition:all .25s ease-out;
    -webkit-box-shadow:0px 20px 40px rgba(39,65,90,.5);
    -moz-box-shadow:0px 20px 40px rgba(39,65,90,.5);
    box-shadow:0px 20px 40px rgba(39,65,90,.5);
    border-top-color:#F2F2F2;
}

.main .screenshot:hover {
    -webkit-box-shadow:0px 20px 80px rgba(39,65,90,.5);
    -moz-box-shadow:0px 20px 80px rgba(39,65,90,.5);
    box-shadow:0px 20px 80px rgba(39,65,90,.5);
}

.feature-image {
    width:80%;
    margin-bottom:36px;
    display:none;
}

.intro-video-wrap{
    max-width: 756px;
    margin: auto;
}

.intro-video{
    position: relative;
    padding-top: 56.2%;
}

.intro-video iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*========================================

              FEATURES

========================================*/
.features-section {
    @include clearfix;
    padding: $padding_features_section 0;

    @include max-width($bp_feature_section_downsized){
        padding: $padding_features_section_downsized 0;
    }

    p{
        @include antialias;
        color: $text_normal;
    }

    p a{
        color: $text_normal;
        text-decoration: underline;
    }

    p a:hover{
        color: $blue;
    }

    pre{
        text-align: left;
    }
}

.features-section--inner{
    max-width: $w_base;
    width: 90%;
    margin: auto;
}

.feature-sections--title{
    font-size: 50px;
    margin: 0 auto 60px;
    max-width: 800px;

    @include max-width($bp_feature_section_downsized){
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.feature-sections--body p{
    max-width: 900px;
    margin: 0 auto 30px;
    font-size: 24px;
    color: $text_normal;

    &:first-child{
        margin-top: -30px;
    }

    &:last-child{
        margin-bottom: 0;
    }

    @include max-width($bp_feature_section_downsized){
        font-size: 18px;

        &:first-child{
            margin-top: -15px;
        }
    }

    a{
        color: $text_normal;
        text-decoration: none;
        background: #fff;
        display: inline-block;
        padding: 1px 8px 0;
        border-radius: 3px;
        margin: 1px 0;

        &:hover{
            color: #fff;
            background: $blue;
        }
    }
}

.feature{
    @include clearfix;
    margin-bottom: $margin_feature;
    display: block;

    @include max-width($bp_feature_downsized){
        margin-bottom: $margin_feature_downsized;
    }
}

.feature--title{
    font-size: 36px;
    margin-bottom: 10px;
    color: $blue;

    @include max-width($bp_feature_downsized){
        font-size: 24px;
    }

    @include max-width($bp_feature_stacked){
        text-align: center;
    }

    @include max-width($bp_feature_left_aligned){
        text-align: left;
    }

    &:before{
        margin-right: 10px;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        position: relative;
        top: -3px;
        vertical-align: middle;

        @include max-width($bp_feature_downsized){
            height: 35px;
            width: 35px;
            font-size: 18px;
            line-height: 40px;
        }
    }
}

.feature--info{
    width: 50%;
    float: left;
    text-align: left;

    @include max-width($bp_feature_downsized){
        p{
            font-size: 18px;
        }
    }

    @include max-width($bp_feature_stacked){
        float: none;
        width: 100%;
        text-align: center;
    }

    @include max-width($bp_feature_left_aligned){
        text-align: left
    }
}

.feature--graphic{
    width: 50%;
    float: left;
    padding-left: 40px;

    @include max-width($bp_feature_stacked){
        float: none;
        padding-left: 0;
        text-align: center;
        width: 100%;
    }
}

.subfeatures{
    @include clearfix;
    margin: 0 0 $margin_feature;
    padding-bottom: $margin_feature;
    border-bottom: 1px solid $border_grey;

    @include max-width($bp_subfeatures_halved){
        margin-bottom: 0;
        padding-bottom: $margin_feature_downsized;
    }
}

.subfeature{
    padding: 20px;
    width: 25%;
    float: left;

    @include max-width($bp_subfeatures_halved){
        width: 50%;

        &:nth-child(3n){
            clear: left;
        }
    }

    @include max-width($bp_subfeatures_stacked){
        padding: 20px 0 0;
        width: 100%;
        float: none;
    }

    p{
        font-size: 15px;
        text-align: left;
    }
}

.subfeature--title{
    @include antialias;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid $blue;
    color: $text_normal;

    @include max-width($bp_subfeatures_halved){
        font-size: 20px;
    }

    &:before{
        font-size: 80%;
        margin-right: 7px;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }

    .subfeature:nth-of-type(2) &{
        border-color: $purple;
    }

    .subfeature:nth-of-type(3) &{
        border-color: $yellow;
    }

    .subfeature:nth-of-type(4) &{
        border-color: $mint;
    }
}

// WRITE
// ++++++++++++++++++++++++++++++
.features-manage{
    padding-bottom: 0;

    .feature-sections--body{
        margin-bottom: $margin_feature;

        @include max-width($bp_feature_section_downsized){
            margin-bottom: $margin_feature_downsized;
        }
    }
}


.feature-content-types{
    .feature--title{
        display: none;
    }

    .feature--info{
        width: 100%;
    }
}

.collab-user{
    width: 33%;
    text-align: center;
    float: left;
    padding: 10px;
    margin-top: 32px;

    @include max-width($bp_feature_stacked){
        margin-top: 0;
    }

    img{
        width: auto;
        border-radius: 50%;
        margin: auto;
        max-width: 100%;
    }

    strong{
        background: $bg_smoke;
        color: $text_light;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 14px;
        position: relative;
        top: -30px;
        font-weight: normal;
    }
}

.feature-markdown{
    padding-bottom: $padding_features_section;
    margin-bottom: 0;
    margin-top: $margin_feature + 30;
    position: relative;

    @include max-width($bp_feature_downsized){
        padding-bottom: $padding_features_section_downsized;
        margin-top: $margin_feature;
    }

    .feature--info{
        float: right;
    }

    .feature--graphic{
        width: 46% + 15%;
        float: left;
        padding: 0;
        margin-left: 15% * -1;
        margin-bottom: $padding_features_section * -1;
        position: relative;

        @include max-width($bp_feature_downsized){
            margin-bottom: $padding_features_section_downsized * -1;
        }

        @include max-width($bp_feature_stacked){
            width: auto;
            float: none;
            margin-left: 0;
        }

        img{
            border-top: 20px solid $bg_smoke;
            border-radius: 6px 6px 0 0;
            vertical-align: bottom;
            max-width: 100%;
            width: auto;
        }

        &:after{
            content: '';
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
            position: absolute;
            left: 0;
            bottom: 0;
            height: 90px;
            width: 100%;

            @include max-width($bp_feature_stacked){
                height: 40px;
            }
        }
    }
}

// PUBLISH
// ++++++++++++++++++++++++++++++
.features-publish{
    background: $bg_smoke;

    .feature-sections--body img{
        height: 65px;
        width: auto;
        max-width: 100%;
        display: block;
        margin: 40px auto 0;

        @include max-width($bp_feature_section_downsized){
            margin-top: 0;
        }
    }

    .features{
        margin: $margin_feature auto 0;
        padding-top: $margin_feature;
        border-top: 1px solid $border_grey;

        @include max-width($bp_feature_section_downsized){
            margin-top: $margin_feature_downsized;
        }
    }

    .feature{
        width: 50%;
        float: left;

        &:nth-child(2n - 1){
            padding-right: 20px;
        }

        &:nth-child(2n){
            padding-left: 20px;
        }

        @include max-width($bp_feature_stacked){
            width: 100%;
            float: none;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .wrap{
            width: 100%;
            max-width: none;
        }
    }

    .feature--title{
        color: $text_dark;
    }

    .feature--title:before{
        background: $blue;
    }

    .feature:nth-child(2) .feature--title:before{
        background: $purple;
    }

    .feature:nth-child(3) .feature--title:before{
        background: $yellow;
    }

    .feature:nth-child(4) .feature--title:before{
        background: $mint;
    }

    .feature--info{
        width: 100%;
        position: relative;
        z-index: 2;

        p, p a{
            color: lighten($text_normal, 20%);
        }

        p a:hover{
            color: $blue;
        }
    }
}


// DEVELOP
// ++++++++++++++++++++++++++++++
.features-develop{
    background: $bg_solarized_dark;
    padding-bottom: $padding_features_section + $margin_feature;

    @include max-width($bp_feature_downsized){
        padding-bottom: $padding_features_section_downsized + $margin_feature_downsized;
    }

    .feature-sections--body:first-child{
        margin-top: auto;
    }

    h1{
        color: #fff;
    }

    h2{
        color: $light_blue;
    }

    p, p a{
        color: rgba(#fff, 0.8);
    }

    p a:hover{
        color: $blue;
    }

    code{
        padding: 15px;
        border-radius: 3px;
        margin-bottom: 30px;

        @include max-width($bp_feature_downsized){
            font-size: 12px;
        }
    }

    .features{
        float: right;
        width: 50%;
    }

    .feature{
        margin-bottom: 30px;
    }

    .feature--info{
        width: 100%;
    }

    .features-develop--graphic{
        float: left;
        width: 46%;
        font-size: 15px;
        line-height: 1.2;
    }

    @include max-width($bp_feature_stacked){
        .features, .features-develop--graphic{
            width: 100%;
            float: none;
        }
    }
}


// TWEETS
// ++++++++++++++++++++++++++++++
.features-kind-words{
    padding: 0;
    margin-top: -40px;

    .feature-sections--title{
        display: none;
    }

    .twitter-tweet{
        display: none;
    }

    .twitter-tweet, iframe{
        width: 31% !important;
        margin: 0 1% 2% !important;
        float: left;
        font-size: 18px;
        border: none !important;
        box-shadow: none !important;

        &:nth-child(4){
            clear: left;
        }

        @include max-width($bp_feature_downsized){
            width: 48% !important;

            &:nth-child(3), &:nth-child(5){
                clear: left;
            }

            &:nth-child(4){
                clear: none;
            }
        }

        @include max-width(550px){
            width: 100% !important;
            margin: 0 0 15px !important;
            float: none;

            &:nth-child(2n){
                display: none !important;
            }
        }
    }
}

// V2
// ++++++++++++++++++++++++++++++
.v2Teaser {
    display: block;
    background-color: $blue;
    color: #fff;
    line-height: 22px;
    padding: (($height_teaser - 22px) / 2) 0;

    &:hover {
        background-color: $dark_blue;
    }

    @include max-width($bp_nav_hides){
        font-size: 14px;
    }
}

/*========================================

                PLANS

========================================*/

.plans {
    background:$bg_smoke;
    margin-bottom: 60px;
}

.plans > section {
    // overflow:visible;
}

.plan-tier {
    background:white;
    vertical-align:baseline;
    border-radius:3px;
    -moz-border-radius:3px;
    cursor:pointer;
    overflow:hidden;
}

.plan-tier h4 {
    padding:18px 0 15px;
    margin:0 0 30px;
    background:#00a1ff;
    color:white;
}

.plan-tier.callout h4 {
    background-color:#78b336;
}

.plan-tier.callout h6 {
    width:100%;
    padding:15px 0 14px;
    background:#8dcf3f;
    color:rgba(39,65,90,.5);
    font-size:1.25em;
}

.plan-tier sub {
    vertical-align:bottom;
    position:relative;
    bottom:.875em;
}

.plan-tier sup {
    position:relative;
    right:-9px;
}

.plan-tier .plan-price {
    font-size:5em;
    font-weight:300;
    letter-spacing:-3px;
}

.plan-tier .early-adopter-price {
    color:#0091e5;
}

.plan-tier.callout .early-adopter-price {
    color:#7abf26;
}

.plan-tier-select {
    width:100%;
    padding:24px;
}

.plan-tier button {
    width:100%;
}

.plan-tier ul {
    margin:30px 0 0;
    border-top:2px solid #e7f2f0;
}

.plan-tier ul li {
    font-size:1.25em;
    padding:18px 0;
    color:rgba(39,65,90,.9);
    border-bottom:2px solid #e7f2f0;
}

.try-for-free-note{
    color: rgba(39, 65, 90, 0.5);
    padding: 30px 0;
    display: block;
}

.try-for-free-note:hover{
    text-decoration: underline;
}


/*========================================

               SIGNUP

========================================*/

.signup {
    padding-top:0;
}

.signup .third {
    margin-right:0;
}

.signup-form {
    width:100%;
    margin-top:36px;
    float:left;
}


label.signup-plan-select {
    margin-bottom:14px;
    color:rgba(39,65,90,.75);
    text-align:left;
}

.signup-plan .plan-price {
    font-size:3em;
    font-weight:300;
    letter-spacing:-1px;
}

.signup-plan-price {
    margin-top:24px;
    display:block;
    font-size:1.25em;
}

.signup sub {
    vertical-align:bottom;
    position:relative;
    bottom:.45em;
}

.signup-plan input[type="radio"] {
    display:none;
}

.signup-plan label {
    width:100%;
    margin:0 0 12px;
    padding:24px 10px 24px;
    display:inline-block;
    border-radius:3px;
    -moz-border-radius:3px;
    border:2px solid rgba(39,65,90,.1);
    -webkit-transition:all .075s ease-out;
    -moz-transition:all .075s ease-out;
    -o-transition:all .075s ease-out;
    transition:all .075s ease-out;
}

.signup-plan label:before {
    content:url('/images/radio-unchecked.svg');
    width:30px;
    height:30px;
    margin-right:-46px;
    float:left;
    position:relative;
    top:2.75em;
}

.signup-plan input[type="radio"]:checked + label {
    background-color:#8ecf3f;
    color:white;
    border:2px solid rgba(39,65,90,0);
}

.signup-plan input[type="radio"]:checked + label:before {
    content:url('/images/radio-checked.svg');
}

.signup-plan label:hover {
    background-color:rgba(0,161,255,1);
    color:white;
    border:2px solid rgba(39,65,90,0);
}

.signup-plan label:hover:before {
    content:url('/images/radio-hover.svg');
}

.signup-info label {
    margin-bottom:12px;
    font-size:1.25em;
    font-weight:400;
    text-align:left;
    text-transform:uppercase;
    float:left;
}


/*========================================

               LOGIN

========================================*/

.login {
    padding-top:0;
}

.login-form {
    margin-top:36px;
    margin-left:auto;
    margin-right:auto;
    float:center;
    // overflow:visible;
}

.login-form > section {
    // overflow:visible;
}

.login-form small {
    width:100%;
    margin-bottom:36px;
    float:left;
    text-align:left;
}

.login-info {
    // overflow:visible;
}

.login-info label {
    margin-bottom:12px;
    font-size:1.25em;
    font-weight:400;
    text-align:left;
    text-transform:uppercase;
    float:left;
}



/*========================================

                 BLOG

========================================*/

.blog {
    padding-top:0;
    padding-bottom:0;

    article {
        margin-bottom:120px;
        p.back {
            margin-top:4em;
        }
    }

    figure {
        width:100%;
        max-width:756px;
        margin:0 auto 48px;
        > figcaption {
          margin:1em 0;
        }
        > a {
          display:block;
          background:#00a1ff;
          border-radius:3px;
          -moz-border-radius:3px;
          &:hover img {
              opacity:.5;
          }
        }
        img {
        -webkit-transition:all .05s ease-out;
        -moz-transition:all .05s ease-out;
        -o-transition:all .05s ease-out;
        transition:all .05s ease-out;
        border-radius:3px;
        -moz-border-radius:3px;
        }
    }

    h2.title {
        width:100%;
        max-width:756px;
        margin:0 auto 36px;
        text-align:left;
    }

    h3 {
      margin-top: 1.2em;
      font-size: 36px;
    }

    h3, h4, p, ol, ul, pre {
        width:100%;
        max-width:756px;
        margin-right:auto;
        margin-left:auto;
        text-align:left;
    }

    p img {
        border-radius:3px;
        -moz-border-radius:3px;
        width: auto;
        max-width: 100%;
        display: inline-block;
    }

    blockquote {
        p {
            margin-top:1em;
            margin-bottom:1em;
            padding-left:1.2em;
            border-left:2px solid #eee;
            color:#999d9e;
            line-height:1.25em;
        }
        &.pullquote p {
            border-left: none;
            padding-left: 0;
            color:#7abf26;
            font-size:2.125em;
            font-weight:300;
        }
    }

    ol, ul {
        margin-top:1em;
        margin-bottom:1em;
        color:rgba(39,65,90,.9);
        font-size:1.25em;
        line-height:1.625em;
        p {
            color: inherit;
            font-size: 1em;
        }
    }
    ol {
        list-style:decimal;
    }
    ul {
        list-style:disc;
    }
    .footnotes ol {
        @extend small;
        margin-left: auto;
        margin-right: auto;
    }
    sup {
        font-size: 75%;
        line-height: 1.5;
    }
    p > small {
        font-size: 80%;
        font-style: italic;
    }

    pre {
        margin-top:1em;
        margin-bottom:1em;
        overflow: auto;
        text-align: left;
        background:#e7f2f0;
        padding:5px 4px;
        border-radius:3px;
        -moz-border-radius:3px;
        font-size:1em;
        line-height:1.625em;
    }

    p code {
        background:#e7f2f0;
        padding:5px 4px;
        margin:-5px 0;
        border-radius:3px;
        -moz-border-radius:3px;
    }

    p mark {
        background: rgba(245,245,0,.25);
        padding:1px 4px 0;
        margin:-1px 0 0;
        border-radius:3px;
        -moz-border-radius:3px;
    }

    hr {
        border: none;
        background:#e7f2f0;
        max-width:756px;
        margin:2em auto;
        height: 2px;
    }

    time {
        vertical-align:inherit;
        font-weight:600;
        text-transform:uppercase;
    }
}

.blog-byline {
    vertical-align:baseline;
    width:100%;
    width:100%;
    padding:0;
    float:none;
    max-width:756px;
    margin:2em auto;
    text-align:left;
}

.blog-tag {
    vertical-align:inherit;
    margin-right:18px;
    margin-bottom: 5px;
    background:#8dcf3f;
    text-transform:uppercase;
    border-radius:3px;
    -moz-border-radius:3px;
}

.blog-tag:hover {
    background:#78b336;
}

.blog-tag a {
    vertical-align:inherit;
    padding:12px 15px 8px;
    display:inline-block;
    color:white;
}


/*========================================

                 GALLERY

========================================*/

.gallery {
    padding-top:0;
    padding-bottom:0;
}

.gallery article {
    margin-bottom:120px;
}

.gallery-item {
    margin-bottom:72px;
}

.gallery figure {
    width:100%;
    max-width:756px;
    margin:0 auto 48px;
    display:block;
    border-radius:3px;
    -moz-border-radius:3px;
}

.gallery figure {
    width:100%;
    max-width:756px;
    margin:0 auto 36px;
    display:block;
    background:#00a1ff;
    border-radius:3px;
    -moz-border-radius:3px;
}

.gallery figure img {
    -webkit-transition:all .05s ease-out;
    -moz-transition:all .05s ease-out;
    -o-transition:all .05s ease-out;
    transition:all .05s ease-out;
}

.gallery figure:hover img {
    opacity:.5;
}

.gallery h2 {
    width:100%;
    max-width:756px;
    margin:0 auto 36px;
    text-align:left;
}



/*========================================

                DEFAULT

========================================*/

.text-block h4, .text-block p, .text-block ol, .text-block ul {
    margin-top:1em;
    width:100%;
    max-width:756px;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
}

.text-block h2 {
    width:100%;
    max-width:756px;
    margin:0 auto 36px;
}

.text-block p {
}

.text-block h4 {
    margin-top:2em;
}

.text-block ol {
    color:rgba(39,65,90,.9);
    list-style:decimal;
}

.text-block ul {
    color:rgba(39,65,90,.9);
    list-style:disc;
}

.text-block ul li, .text-block ol li {
    margin-top:.5em;
}


/*========================================

                FOOTER

========================================*/

footer.layer {
    padding-top:0;
}

.footer-nav {
    width:100%;
    margin-bottom:24px;
    display:block;
}

.footer-nav li {
    margin:0 18px 9px;
    display:inline-block;
    font-size:1.25em;
}

.footer-copy{
    a{
        color: $text_light;
        text-decoration: underline;
    }
}



/*========================================

                404

========================================*/

.layer.four-oh-four-illu {
    padding-top:0;
}

.four-oh-four-illu figure {
    margin:0;
}



/*========================================

               MEDIA QUERIES

========================================*/

@media screen and (max-width: 480px) {
    .footer-nav .login {
        width:100%;
        padding:18px 48px;
        margin:12px 0 24px;
        float:left;
        display:block;
        background:#00a1ff;
        border-bottom:2px solid rgba(39,65,90,.3);
        font:400 1.25em "source-sans-pro", "helvetica", sans-serif;
        text-align:center;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-transition:all .05s ease-out;
        -moz-transition:all .05s ease-out;
        -o-transition:all .05s ease-out;
        transition:all .05s ease-out;
    }
    .footer-nav .login:hover {
        background:#0089d9;
    }
    .footer-nav .login a {
        color:white;
    }
    .footer-nav li {
        width:100%;
        margin:9px 0;
    }
}

@media screen and (max-width: 768px) {
    .hide {
        display:none;
    }
}

@media screen and (min-width: 769px) {
    /*======*/
    li.show {
        display:none;
    }
    .layer {
        padding-top:96px;
        padding-bottom:96px;
    }
    /*=== HOME ===*/
    .main h2 {
        width:100%;
        margin-top:0;
        margin-bottom:48px;
    }
    .main, .posts {
        padding-top:0;
        padding-bottom:0;
    }
    /*=== SIGNUP ===*/
    .signup {
        padding-top:0;
    }
    /*=== LOGIN ===*/
    .login-form {
        max-width:336px;
    }
    .login {
        padding-top:0;
    }
    /*=== FOOTER ===*/
    footer small {
        display:inline-block;
    }
    /*=== 404 ===*/
    .four-oh-four-illu figure {
        margin:0 15%;
    }
}

@media screen and (min-width: 961px) {
    /*======*/
    h2 {
        font-size:3.5em;
    }
    input[type="email"], input[type="password"], input[type="text"] {
        margin-left:-2px;
        margin-right:-2px;
    }
    /*======*/
    .third {
        width:27.95%;
        margin:0 7.6923077% 0 0;
        display:inline-block;
    }
    .third:nth-of-type(3) {
        margin-right:0;
    }
    .half {
        width:46.1538462%;
        margin-right:7.6923077%;
        float:left;
        display:inline-block;
        text-align:left;
    }
    .half:nth-of-type(even) {
        margin-right:0;
    }
    .two-thirds {
        width:63.95%;
        margin:0 7.6923077% 0 0;
        display:inline-block;
        float:left;
    }
    .screenshot {
        border-top:18px solid rgba(39,65,90,.15);
    }
    /*=== SIGNUP ===*/
    .signup-form {
        margin-top:60px;
    }
    .signup-plan:first-child {
        margin-top:31px;
    }
    .field-half {
        width:48.5%;
        display:inline-block;
        // overflow:visible;
    }
    .field-half:nth-child(odd) {
        margin-right:2%;
    }
    .field-third {
        width:14.5%;
        margin-right:2%;
        display:inline-block;
        // overflow:visible;
    }
    .field-third:last-child {
        margin-right:0;
    }
    /*=== LOGIN ===*/
    .login-form {
        margin-top:60px;
    }
    /*=== BLOG ===*/
    .blog {
        padding-top:30px;
        padding-bottom:0;
    }
    .blog article {
        margin-bottom:240px;
    }
    /*=== GALLERY ---*/
    .gallery-item {
        margin-bottom:72px;
    }
    /*=== 404 ===*/
    .four-oh-four-illu figure {
        margin:0 25%;
    }
}

@media screen and (min-width: 1400px) {
    body {
        font-size:17px;
    }
}
