



<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="description" content="Last week, I wrote about metadata in Siteleaf and the variety of ways you could use it to customize your website. In this post, I’ll do the same, but with metadata’s much cooler, older brother—taxonomy.
">
  <meta property='st:title' content='Tutorial: Taxonomy in Siteleaf' />
  <meta name="twitter:widgets:link-color" content="#0091e5">

  
    <title>Tutorial: Taxonomy in Siteleaf</title>
  

  <link href="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/css/style.css">
  <link rel="icon shortcut" href="/images/favicon.ico">
  
  <script type="text/javascript" src="//use.typekit.net/tti2qoh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1666437-33', 'siteleaf.com');
    
    ga('send', 'pageview');
  </script>

  
    <a class="v2Teaser" href="http://v2.siteleaf.com">We’re working on great updates to Siteleaf &rarr;</a>
  
  <section class="layer main">
      <header>
        <h1 class="logo">
          <a href="/">Siteleaf</a>
        </h1>
        <span class="ss-rows main-nav-toggle right">Menu</span>
        <nav>
          <ul class="main-nav">
            
              
            
              
                <li class="main-nav-item">
                  <a href="/plans">Plans</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/blog">Blog</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/gallery">Gallery</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/themes">Themes</a>
                </li>
              
            
              
            
              
            
              
            
              
            
            <li class="main-nav-item">
              <a href="https://manage.siteleaf.com">Log in</a>
            </li>
            <li class="main-nav-item get-started-nav-item">
              <a href="https://manage.siteleaf.com/signup" class="get-started-btn">Sign up</a>
            </li>
          </ul>
        </nav>
      </header>

      
  </section>

  
  <section class="layer blog">
    
      
      <article>
  
  <figure>
    <a href="/blog/taxonomy-in-siteleaf"><img src="/assets/taxonomy-in-siteleaf-ui.png" alt="Tutorial: Taxonomy in Siteleaf" /></a>
  </figure>
  
  <h2 class="title">
    
      Tutorial: Taxonomy in Siteleaf
    
  </h2>
  <header class="blog-byline">
  
    <h6 class="blog-tag"><a href="/blog/tags/tutorial">tutorial</a></h6>
  
    <h6 class="blog-tag"><a href="/blog/tags/liquid">liquid</a></h6>
  
    <time datetime="2013-07-13">Jul 13, 2013</time>
     by Jonnie Hallman
  </header>
  
    <p>Last week, I wrote about <a href="/blog/metadata-in-siteleaf">metadata</a> in <a href="http://siteleaf.com">Siteleaf</a> and the variety of ways you could use it to customize your website. In this post, I’ll do the same, but with metadata’s much cooler, older brother—taxonomy.</p>

<p>The word ‘taxonomy’ isn’t used very often on the web, but almost every website uses some form of taxonomy—the most common being ‘tags’. Siteleaf supports the use of tags on posts, but in a way that is more flexible than most systems. Instead of posts having only one set of tags, they are capable of having as many tag sets as you’d like—each with its own name. In the UI, Siteleaf automatically creates ‘Tags’ to get you started, but don’t let that hold you back from being creative.</p>

<pre><code class="html">&lt;h2&gt;{{ title }}&lt;/h2&gt;
{{ body }}
&lt;ul&gt;
{% for tag in taxonomy.tags %}
    &lt;li&gt;
        &lt;a href=&quot;{{ tag.url }}&quot;&gt;{{ tag.value }}&lt;/a&gt;
    &lt;/li&gt;
{% endfor %}
&lt;/ul&gt;
</code></pre>

<p>Let’s start by looking at the code involved for listing a set of tags. In the code above, we’re creating a template for our individual blog posts. Because the object tied to our template is a post, we can access the <code>taxonomy</code> keyword and loop through the <code>tags</code> set. If our set were named ‘Colors’, we would use <code>taxonomy.colors</code>.</p>

<p>In each listing, we link the name of the tag to its page, using <code>value</code> for the text and <code>url</code> for the URL. Since taxonomy is more involved than key/value metadata, we have a nice list of useful variables to work with. Take a look at the <a href="https://github.com/siteleaf/siteleaf-themes#taxonomy-and-tags">theme documentation</a> for a full list.</p>

<p>Now that we have a list of the post’s tags, where does each one link? Upon publishing, Siteleaf auto-generates a page for every tag, using a taxonomy template. This allows you to list all the posts that pertain to a given tag.</p>

<pre><code class="html">&lt;h2&gt;{{ value }}&lt;/h2&gt;
{% for post in posts %}
    &lt;article&gt;
        &lt;h3&gt;{{ post.title }}&lt;/h3&gt;
        {{ post.body }}
    &lt;/article&gt;
{% endfor %}
</code></pre>

<p>This is a basic taxonomy template. It displays the name of the tag with a list of the tag’s posts. If the URL to our tag is <code>/blog/tags/design</code>, we would create this template at the path <code>/blog/tags/default.html</code>. </p>

<p>Now, tags are pretty basic. There’s nothing new here that we can’t already do with most CMSs. But, what if we look beyond tags? What could we create with custom tag sets or multiple tag sets on a single site? Let’s go through a few use-cases.</p>

<h3>Semantic tagging</h3>

<p><img src="/assets/taxonomy-in-siteleaf-bar-homepage.png" alt="bar-homepage"> </p>

<p><a href="http://larryfox.us">Larry Fox</a>, fellow developer at <a href="http://oak.is">Oak</a>, runs <a href="http://barlawrence.com">Bar Lawrence</a>, Studiomates’ provider of fine cocktails. Whether we’re celebrating a launch or putting a nail in the coffin of a long week, Bar Lawrence is always a treat.</p>

<p><img src="/assets/taxonomy-in-siteleaf-bar-taxonomy.jpg" alt="bar-taxonomy"></p>

<p>The Bar Lawrence website runs on Siteleaf and uses taxonomy for the drink ingredients. Each drink is a post, published on the date it is served. And because Larry uses taxonomy to handle the ingredients, each one is linked and indexed.</p>

<p><img src="/assets/taxonomy-in-siteleaf-bar-highlighted-ingredients.jpg" alt="bar-highlighted-ingredients"></p>

<p>The drink listings on the website include each drink’s title along with its linked ingredients underneath. With some fancy CSS footwork, Larry designed the ingredients to highlight upon hovering the drink, indicating that you can click them to see more.</p>

<p><img src="/assets/taxonomy-in-siteleaf-bar-gin.png" alt="gin"> </p>

<p>When you click an ingredient link, it takes you to a list of previously served drinks that were made using that ingredient. Larry treats his ingredients taxonomy similar to how tags relate to blog posts, but because of the custom name, his website’s URL is more semantic. Where the URL would normally be <code>/menu/tags/gin</code> or <code>/menu/categories/gin</code>, it now provides a more readable path, <code>/menu/ingredients/gin</code>.</p>

<p><img src="/assets/taxonomy-in-siteleaf-bar-index.png" alt="index"> </p>

<p>Bar Lawrence also has a full list of ingredients that serves as an index for navigating the drinks. With only a dozen lines of code, Larry has added another way to browse and explore the website. Let’s take a look at how we could create an index of our own.</p>

<pre><code class="html">{% assign sorted_ingredients = ingredients | sort: &#39;value&#39; %}

&lt;dl class=&quot;ingredients&quot;&gt;
{% for ingredient in sorted_ingredients %}
    {% assign letter = ingredient.value | truncate: 1, &#39;&#39; | capitalize %}

    {% if letter != previous_letter %}
        &lt;dt accesskey=&quot;{{ letter }}&quot;&gt;{{ letter }}&lt;/dt&gt;
    {% endif %}

    &lt;dd&gt;
        &lt;a href=&quot;{{ ingredient.url }}&quot;&gt;{{ ingredient.value }}&lt;/a&gt;
    &lt;/dd&gt;

    {% assign previous_letter = letter %}
{% endfor %}
&lt;/dl&gt;
</code></pre>

<p>First, we sort the ingredients, using the Liquid filter, <code>sort</code>. This provides us with a new array that runs alphabetically, from A-Z. Next, we loop through the sorted ingredients and extract the first letter of each ingredient, using the <code>truncate</code> filter.</p>

<p><code>truncate</code> takes two parameters: the intended length and the string to append (<code>...</code> by default). Since we want to cut our ingredient down to one letter with no appended string, we pass <code>1</code> and an empty string. We then use a conditional to check if the letter differs from that of the previous ingredient’s. If it does, we insert the letter into the HTML. Lastly, we insert the ingredient and link to its page.</p>

<p>Larry’s implementation of taxonomy with ingredients works beautifully for cocktails, but I can also see it handling even broader subjects, like meal recipes. With multiple tag sets, you could assign one for ingredients and another for meal type (breakfast, dessert, etc).</p>

<h3>Multiple tag sets</h3>

<p><img src="/assets/taxonomy-in-siteleaf-cafe-homepage.png" alt="cafe-homepage"> </p>

<p>While we’re talking about drinks, let’s talk about the best one—coffee. At Studiomates, I handle the caffeine business, <a href="http://cafejonnie.com">Café Jonnie</a>. Similar to Bar Lawrence, Café Jonnie catalogs the drinks that are served, but lists the beans rather than the specific drinks. I could follow Larry’s lead by including the ingredients for each bag of beans, but instead, I focus on the roaster and origin.</p>

<p><img src="/assets/taxonomy-in-siteleaf-cafe-taxonomy.jpg" alt="cafe-taxonomy"> </p>

<p>Unlike Bar Lawrence, Café Jonnie’s tag sets consist of singular values—and that’s okay. This is a use-case where we don’t need more than one value for the given tag sets. Think of the tag sets as key/value metadata, but with the linking and indexing that comes with taxonomy. With this setup, I can browse all of the beans from a given roaster or location. The taxonomy value has more of a parent association to the post.</p>

<h3>Use-cases as inspiration</h3>

<p><img src="/assets/taxonomy-in-siteleaf-library.png" alt="library"> </p>

<p>Like many of Siteleaf’s features, we designed taxonomy through use-cases. <a href="http://aworkinglibrary.com">A Working Library</a>, website of fellow Studiomate Mandy Brown, played a big role in shaping the feature. Mandy writes and reviews books on her website. In her reviews, she includes each book’s author and publisher as linked categories, so you can see a list of other books by them.</p>

<p>This works as-is, but it requires mixing the two fields into one group, ‘Categories’. This name could apply to anything, and it results in URLs like <code>/books/category/doubleday</code>. With taxonomy in Siteleaf, we could break these two fields into their own tag sets, ‘Author’ and ‘Publisher’, so our URLs could have more meaning, like <code>/books/publisher/doubleday</code> and <code>/books/author/annalee-newitz</code>.</p>

<h3>Wrapping up</h3>

<p>I hope this post shed some light on one of the more powerful Siteleaf features. With its ability to easily add new navigation structures, while remaining simple and flexible, I’m confident we’ll continue to discover use-cases. If you have any questions after reading this, don’t hesitate to <a href="http://twitter.com/siteleaf">reach out</a>.</p>

<p><small>This article was originally posted on destroytoday.com.</small></p>

    <p class="back"><a href="/blog">&larr; Back to Blog</a></p>
  
</article>

    
  </section>


  <footer class="layer">
    <section>
      <nav>
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="/help">Help</a>
          <li class="footer-nav-item"><a href="/help/themes">Documentation</a>
          <li class="footer-nav-item"><a href="/">Features</a>
          <li class="footer-nav-item"><a href="/purpose">Purpose</a>
          <li class="footer-nav-item"><a href="/privacy">Privacy</a>
          <li class="footer-nav-item"><a href="/terms">Terms</a>
          <li class="footer-nav-item"><a href="https://github.com/siteleaf/siteleaf-api" target="_blank">API</a>
          <li class="footer-nav-item"><a href="http://status.siteleaf.com" target="_blank">Status</a>
        </ul>
      </nav>
      <small class="footer-copy">&copy;2016 Siteleaf™ is made by <a href="http://oak.is">Oak</a>. Follow <a href="http://twitter.com/siteleaf">@siteleaf</a></small>
    </section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="/scripts/js/min/application.js"></script>
  
  <script src="/scripts/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function(){
      $("section.blog").fitVids();
    });
  </script>

  <script src="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.js"></script>
</body>
</html>