---
layout: default
---

<main class="archive__main">
  {% for post in site.posts %}
    {% assign year = post.date | date: '%Y' %}
    {% unless post.next %}
      <h3 class="archive__year">{{ year }}</h3>
      <ul class="archive__items">
    {% else %}
      {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != next_year %}
        </ul>
        <h3 class="archive__year">{{ year }}</h3>
        <ul class="archive__items">
      {% endif %}
    {% endunless %}
    <li class="archive__item">
      <a class="archive__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <!-- <time class="archive__day" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %-d' }}</time> -->
    </li>
  {% endfor %}
</main>
