---
layout: default
---

<ul class="archive__items">
  {% for post in site.posts %}
    {% assign month = post.date | date: '%B %Y' %}
    {% unless post.next %}<!-- first post -->
      <h4 class="archive__month">{{ month }}</h4>
    {% else %}
      {% capture next_month %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}
      {% if month != next_month %}
        <h4 class="archive__month">{{ month }}</h4>
      {% endif %}
    {% endunless %}
    <li class="archive__item">
      <time class="archive__day" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d' }}</time>
      <a class="archive__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
