---
layout: default
---

<main class="gallery__main">
  <div class="gallery__items">
    {% assign sorted_gallery = site.gallery | where_exp: 'item','item.published != false' | sort: 'position' %}
    {% for item in sorted_gallery %}
      <figure class="gallery__item">
        <a href="{{ item.link }}" target="_blank" rel="noopener"><img src="{{ item.image }}" alt="{{ item.title }}" class="gallery__image" /></a>
        <figcaption class="gallery__caption"><a href="{{ item.link }}" target="_blank" rel="noopener" class="gallery__caption__link">{{ item.title }}</a></figcaption>
      </figure>
    {% endfor %}
  </div>
</main>
