---
layout: static-default
---
<div class="bg--darkest-gray">
  {% assign max = page.chartMax %}
  {% assign size = page.chartSize %}
  {% assign scale = max | times: 360 | divided_by: 270 %}


  <section class="static__section">
    <div class="static__text" style="display:inline-block;">
      <p>{{ page.intro }}</p>
    </div>
    <div class="static__chart" id="introChart">
      {% if page.introChart %}
        <svg viewbox="0 0 {{ size }} {{ size }}" class="chart" id="1">
          {% for i in (0..max) %}
            <g transform="rotate({{ 270 | times: 10 | divided_by: max | times: i | divided_by: 10 }} {{ size | divided_by: 2 }} {{ size | divided_by: 2 }})">
              <text x="{{ size | divided_by: 2 | minus: 0.8 }}" y="3">{{ i }}</text>
              <line x1="{{ size | divided_by: 2 }}" y1="4" x2="{{ size | divided_by: 2 }}" y2="6" stroke="#5A6575"/>
            </g>
          {% endfor %}
          {% for value in page.introChart.values %}
            <defs>
              <linearGradient id="fadeGrad" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="20%" stop-color="white" stop-opacity="0"/>
                <stop offset="70%" stop-color="white" stop-opacity="1"/>
              </linearGradient>
              <mask id="fade" maskContentUnits="userSpaceOnUse">
                <rect x="0" y="0" width="{{ size }}" height="{{ size }}" fill="url(#fadeGrad)" transform="rotate(45 {{ size | divided_by: 2 }} {{ size | divided_by: 2 }})"/>
              </mask>
            </defs>
            <path class="circle"
              stroke="#5A6575"
              stroke-width="2.4"
              {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
              {% assign radius = circum | divided_by: 6.2832 %}
              {% assign diamet = radius | times: 2 %}
              stroke-dasharray="{{ circum | times: 270 | divided_by: 360 }}, {{ circum }}"
              d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
            />
            <path class="circle"
              stroke="#374252"
              stroke-width="1.9"
              {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
              {% assign radius = circum | divided_by: 6.2832 %}
              {% assign diamet = radius | times: 2 %}
              stroke-dasharray="{{ circum | times: 270 | divided_by: 360 }}, {{ circum }}"
              d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
            />
            <path class="circle"
              {% if forloop.index0 == 0 %}
                stroke="#50E6A5"
              {% elsif forloop.index0 == 1 %}
                stroke="#32C8BE"
              {% elsif forloop.index0 == 2 %}
                stroke="#3291AA"
              {% elsif forloop.index0 == 3 %}
                stroke="#236EAA"
              {% else %}
                stroke="#145080"
              {% endif %}
              stroke-width="2.4"
              {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
              {% assign radius = circum | divided_by: 6.2832 %}
              {% assign diamet = radius | times: 2 %}
              stroke-dasharray="{{ circum | times: 10 | divided_by: scale | times: value | divided_by: 10 }}, {{ circum }}"
              d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
            />
            <path class="circle"
              mask="url(#fade"
              stroke="#DC5A46"
              stroke-width="2.4"
              {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
              {% assign radius = circum | divided_by: 6.2832 %}
              {% assign diamet = radius | times: 2 %}cd
              stroke-dasharray="{{ circum | times: 10 | divided_by: scale | times: value | divided_by: 10 }}, {{ circum }}"
              d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
              />
          {% endfor %}
        </svg>
        <ul class="static__intro__key">
          {% for value in page.introChart.key %}
            <li>
              <div style="
              {% if forloop.index0 == 0 %}
                background-color:#50E6A5;
              {% elsif forloop.index0 == 1 %}
                background-color:#32C8BE;
              {% elsif forloop.index0 == 2 %}
                background-color:#3291AA;
              {% elsif forloop.index0 == 3 %}
                background-color:#236EAA;
              {% else %}
                background-color:#145080;
              {% endif %}">
              </div>
              <p>{{ value }}</p>
            </li>
            {% assign previous_value = value %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>

  <section class="static__section">
    <div class="static__test__wrapper">
      <div class="static__text" id="static__test">
        <h3>{{ page.test.title }}</h3>
        <p>{{ page.test.body }}</p>
        <p class="static__test__disclaimer">{{ page.test.disclaimer }}</p>
      </div>
      <div class="static__test__update">
        <h4 class="static__test__updateTitle">{{ page.test.updateText }}</h4>
        <h4>{{ page.test.updateTime }}</h4>
      </div>
      <ul class="static__test__key">
        {% for location in page.test.locations %}
          <li>
            <div style="
            {% if forloop.index0 == 0 %}
              background-color:#50E6A5;
            {% elsif forloop.index0 == 1 %}
              background-color:#32C8BE;
            {% elsif forloop.index0 == 2 %}
              background-color:#3291AA;
            {% elsif forloop.index0 == 3 %}
              background-color:#236EAA;
            {% else %}
              background-color:#145080;
            {% endif %}">
            </div>
            <p>{{ location }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="static__chart__wrapper" id="testChart">
      {% for chart in page.test.charts %}
          <div class="static__chart">
            {% assign size = page.chartSize %}
            <svg viewbox="0 0 {{ size }} {{ size }}" class="chart" id="{{ forloop.index0 | plus: 2 }}">
              {% for i in (0..max) %}
                <g transform="rotate({{ 270 | times: 10 | divided_by: max | times: i | divided_by: 10 }} {{ size | divided_by: 2 }} {{ size | divided_by: 2 }})">
                  <text x="{{ size | divided_by: 2 | minus: 0.8 }}" y="3">{{ i }}</text>
                  <line x1="{{ size | divided_by: 2 }}" y1="4" x2="{{ size | divided_by: 2 }}" y2="6" stroke="#5A6575"/>
                </g>
              {% endfor %}
              {% for value in chart.values %}
                <defs>
                  <linearGradient id="fadeGrad" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="20%" stop-color="white" stop-opacity="0"/>
                    <stop offset="70%" stop-color="white" stop-opacity="1"/>
                  </linearGradient>
                  <mask id="fade" maskContentUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="{{ size }}" height="{{ size }}" fill="url(#fadeGrad)" transform="rotate(45 {{ size | divided_by: 2 }} {{ size | divided_by: 2 }})"/>
                  </mask>
                </defs>
                <path class="circle"
                  stroke="#5A6575"
                  stroke-width="2.4"
                  {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
                  {% assign radius = circum | divided_by: 6.2832 %}
                  {% assign diamet = radius | times: 2 %}
                  stroke-dasharray="{{ circum | times: 270 | divided_by: 360 }}, {{ circum }}"
                  d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
                />
                <path class="circle"
                  stroke="#374252"
                  stroke-width="1.9"
                  {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
                  {% assign radius = circum | divided_by: 6.2832 %}
                  {% assign diamet = radius | times: 2 %}
                  stroke-dasharray="{{ circum | times: 270 | divided_by: 360 }}, {{ circum }}"
                  d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
                />
                <path class="circle"
                  {% if forloop.index0 == 0 %}
                    stroke="#50E6A5"
                  {% elsif forloop.index0 == 1 %}
                    stroke="#32C8BE"
                  {% elsif forloop.index0 == 2 %}
                    stroke="#3291AA"
                  {% elsif forloop.index0 == 3 %}
                    stroke="#236EAA"
                  {% else %}
                    stroke="#145080"
                  {% endif %}
                  stroke-width="2.4"
                  {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
                  {% assign radius = circum | divided_by: 6.2832 %}
                  {% assign diamet = radius | times: 2 %}
                  stroke-dasharray="{{ circum | times: 10 | divided_by: scale | times: value | divided_by: 10 }}, {{ circum }}"
                  d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
                />
                <path class="circle"
                  mask="url(#fade"
                  stroke="#DC5A46"
                  stroke-width="2.4"
                  {% assign circum = forloop.index0 | times: -20 | plus: 100 %}
                  {% assign radius = circum | divided_by: 6.2832 %}
                  {% assign diamet = radius | times: 2 %}cd
                  stroke-dasharray="{{ circum | times: 10 | divided_by: scale | times: value | divided_by: 10 }}, {{ circum }}"
                  d="M{{ size | divided_by: 2 }} {{ size | minus: diamet | divided_by: 2}}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet }}
                    a {{ radius }} {{ radius }} 0 0 1 0 {{ diamet | times: -1 }}"
                  />
              {% endfor %}
            </svg>
            {% if chart.title %}
              <h4 class="static__chart__title">{{ chart.title }}</h4>
            {% endif %}
            {% if page.test.locations %}
              {% if forloop.index0 == 0 %}
                <div class="static__chart__logo">
                  <img src="/assets/logo.svg" />
                </div>
              {% endif %}
                <ul class="static__chart__locations">
                {% for location in page.test.locations %}
                  <li>
                    {{ location }}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if chart.values %}
            <ul class="static__chart__values">
              {% for value in chart.values %}
                <li>
                  {{ value }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          </div>
      {% endfor %}
    </div>
  </section>

  {% for paragraph in page.paragraphs %}
    <section class="static__section">
      <div class="static__text">
        {% if paragraph.title %}
          <h3>{{ paragraph.title }}</h3>
        {% endif %}
        {% if paragraph.body %}
          <p>{{ paragraph.body }}</p>
        {% endif %}
      </div>
    </section>
{% endfor %}

  <section class="static__section" id="static__cta">
    <div class="static__email">
      <h4>{{ page.email.title }}</h4>
      <form>
        <input type="text" placeholder="{{ page.email.prefill }}"/>
      </form>
      <div class="static__email__arrow">
        <img src="/assets/arrow.svg"/>
      </div>
    </div>

    <div class="static__learnMore">
      <h4>{{ page.learnMore }}</h4>
      <img src="/assets/logo.svg" />
    </div>
  </section>

</div>

<script type="text/javascript">

    function check(element) {
      if (rectsIntersect(getPage(), getElement(element)) == true ) {
          element.classList.remove("hidden");
      } else {
          element.classList.add("hidden");
      }
    }

    function getPage() {
      var isquirks= document.compatMode!=='BackCompat';
      var page= isquirks? document.documentElement : document.body;
      var y= page.scrollTop;
      var h= 'innerHeight' in window? window.innerHeight : page.clientHeight;
      return [y,y+h];
    }

    function getElement(element) {
      var y= 0;
      var h= element.offsetHeight;
      while (element.offsetParent!==null) {
          y+= element.offsetTop;
          element= element.offsetParent;
      }
      return [y, y+h];
    }

    function rectsIntersect(a, b) {
      return a[0]<b[1] && a[1]>b[0];
    }

    var chartArray = document.getElementsByClassName("static__chart")
    var arrayLength = chartArray.length;

    for (var i = 0; i < arrayLength; i++) {
      chartArray[i].classList.add("hidden");
    }

    document.onscroll = function() {
      for (var i = 0; i < arrayLength; i++) {
        check(chartArray[i]);
      }
    };

</script>
