---
layout: default
---

<main class="page__main page__main--tags">
  <div class="wrap wrap--narrow">
    <h1 class="page__title">Tags</h1>
    {% assign tag_collection = site.collections | where: 'label', 'tags' | first %}
    {% assign tag_docs = tag_collection.docs %}
    <ul class="archive__list">
      {% for tag_doc in tag_docs %}
        {% assign title = tag_doc.title %}
        {% assign tag = title | downcase %}
        <h3 class="archive__month">{{ title }}</h3>
        {% for post in site.tags[tag] %}
          <li class="archive__item"><a class="archive__title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</main>
