



<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="description" content="Liquid is the flexible templating language that powers themes on Siteleaf. While simple at first glance, there’s a lot of power under the hood for those wanting a greater level of control. In this new blog series, we’ll dive deeper and take a look at some advanced Liquid code and examples.

First...">
  <meta property='st:title' content='Advanced Liquid: Sort' />
  <meta name="twitter:widgets:link-color" content="#0091e5">

  
    <title>Advanced Liquid: Sort</title>
  

  <link href="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/css/style.css">
  <link rel="icon shortcut" href="/images/favicon.ico">
  
  <script type="text/javascript" src="//use.typekit.net/tti2qoh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1666437-33', 'siteleaf.com');
    
    ga('send', 'pageview');
  </script>

  
    <a class="v2Teaser" href="http://v2.siteleaf.com">We’re working on great updates to Siteleaf &rarr;</a>
  
  <section class="layer main">
      <header>
        <h1 class="logo">
          <a href="/">Siteleaf</a>
        </h1>
        <span class="ss-rows main-nav-toggle right">Menu</span>
        <nav>
          <ul class="main-nav">
            
              
            
              
                <li class="main-nav-item">
                  <a href="/plans">Plans</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/blog">Blog</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/gallery">Gallery</a>
                </li>
              
            
              
                <li class="main-nav-item">
                  <a href="/themes">Themes</a>
                </li>
              
            
              
            
              
            
              
            
              
            
            <li class="main-nav-item">
              <a href="https://manage.siteleaf.com">Log in</a>
            </li>
            <li class="main-nav-item get-started-nav-item">
              <a href="https://manage.siteleaf.com/signup" class="get-started-btn">Sign up</a>
            </li>
          </ul>
        </nav>
      </header>

      
  </section>

  
  <section class="layer blog">
    
      
      <article>
  
  <figure>
    <a href="/blog/advanced-liquid-sort"><img src="/assets/sort.svg" alt="Advanced Liquid: Sort" /></a>
  </figure>
  
  <h2 class="title">
    
      Advanced Liquid: Sort
    
  </h2>
  <header class="blog-byline">
  
    <h6 class="blog-tag"><a href="/blog/tags/tutorial">tutorial</a></h6>
  
    <h6 class="blog-tag"><a href="/blog/tags/liquid">liquid</a></h6>
  
    <time datetime="2015-04-07">Apr 07, 2015</time>
     by Skylar Challand
  </header>
  
    <p><a href="http://www.siteleaf.com/help/themes/getting-started/">Liquid</a> is the flexible templating language that powers themes on Siteleaf. While simple at first glance, there’s a lot of power under the hood for those wanting a greater level of control. In this new blog series, we’ll dive deeper and take a look at some advanced Liquid code and examples.</p>

<p>First up in this post, we’ll take a look at the <code>sort</code> <a href="/help/themes/filters-and-tags">filter</a>.</p>

<p>With any site, Siteleaf makes some general assumptions about your content. For example, posts are sorted by date (newest post shows first) and pages are sorted manually. In cases where this doesn’t fit your design, you can utilize the <code>sort</code> filter to order content any way you wish.</p>

<p>For example, here’s how we might sort pages by date:</p>

<pre><code class="liquid">{% assign sorted = pages | sort:&quot;date&quot; %}
</code></pre>

<p>This will sort in ascending order, but we could also choose descending order by adding <code>reverse</code>:</p>

<pre><code class="liquid">{% assign sorted = pages | sort:&quot;date&quot; | reverse %}
</code></pre>

<p>You can sort on <a href="http://www.siteleaf.com/help/themes/variables/content/">any property</a> like date, title, slug, even metadata and taxonomy. Below are few real-world examples you might find useful.</p>

<h3>Sort tags alphabetically</h3>

<p>Tags by default are shown in the order in which they were added. If you’d like to display your tags ordered alphabetically, you can achieve this using the <code>sort</code> filter. </p>

<p>In this example, we’ll create a variable called <code>sorted_tags</code> to hold our sorted tags using the <a href="https://github.com/Shopify/liquid/wiki/Liquid-for-Designers#variable-assignment"><code>assign</code></a> Liquid tag (feel free to use any variable name you wish):</p>

<pre><code class="liquid">{% assign sorted_tags = tags | sort:&quot;value&quot; %}
</code></pre>

<p>Once sorted, we can display the tags using the <code>sorted_tags</code> variable we just created:</p>

<pre><code class="liquid">{% for tag in sorted_tags %}
  &lt;li&gt;&lt;a href=&quot;{{tag.url}}&quot;&gt;{{tag.value}}&lt;/a&gt;&lt;/li&gt;
{% endfor %}
</code></pre>

<h3>Sort posts by metadata</h3>

<p>Posts are generally shown in date order, but you can use the <code>sort</code> filter to order on any property. With the <a href="http://www.siteleaf.com/blog/metadata-in-siteleaf/">power of metadata</a>, that can be pretty much anything you want. </p>

<p>In this example, we’ll set up a meta field on our posts called <code>num</code> to manually sort with numeric values from 01 to 10:</p>

<p><img src="/assets/meta-num.png" alt="meta-num"> </p>

<p>Using the <code>sort</code> filter, we can now order posts by <code>meta.num</code>:</p>

<pre><code class="liquid">{% assign sorted_posts = posts | sort:&quot;meta.num&quot; %}
</code></pre>

<p>And of course, we can display these posts as we normally would:</p>

<pre><code class="liquid">&lt;ul&gt;
  {% for post in sorted_posts %}
  &lt;li&gt;&lt;a href=&quot;{{post.url}}&quot;&gt;{{post.title}}&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
&lt;/ul&gt;
</code></pre>

<h3>Sticky posts</h3>

<p>Perhaps you’d like to have an important or “sticky” post show up first, and retain the default order for the rest of your posts. In this case we could use metadata again. </p>

<p>For this example, we’ll add a meta field to our sticky post called <code>sticky</code> and set a value of &ldquo;yes&rdquo;. We only need to add this to the sticky post, regular posts will have a blank value.</p>

<p><img src="/assets/meta-sticky.png" alt="meta-sticky"> </p>

<p>Now we can sort our posts by <code>meta.sticky</code>, but we’ll also add a second parameter (<code>last</code>) to make sure our non-sticky posts are pushed below.</p>

<pre><code class="liquid">{% assign sorted_posts = site.posts | sort:&quot;meta.sticky&quot;,&quot;last&quot; %}
</code></pre>

<p>By adding <code>last</code> you are telling Siteleaf to sort blank or null values last (the default is first).</p>

<p><strong>Bonus tip:</strong> <code>meta.sticky</code> is equivalent to <code>meta[&quot;sticky&quot;]</code>. Liquid supports both square bracket and dot notation, so if you have a preference feel free to stick with it.</p>

<p><small>Stay tuned for more Advanced Liquid, up next we&rsquo;ll be looking at the filters <code>where</code> and <code>group_by</code>.</small></p>

    <p class="back"><a href="/blog">&larr; Back to Blog</a></p>
  
</article>

    
  </section>


  <footer class="layer">
    <section>
      <nav>
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="/help">Help</a>
          <li class="footer-nav-item"><a href="/help/themes">Documentation</a>
          <li class="footer-nav-item"><a href="/">Features</a>
          <li class="footer-nav-item"><a href="/purpose">Purpose</a>
          <li class="footer-nav-item"><a href="/privacy">Privacy</a>
          <li class="footer-nav-item"><a href="/terms">Terms</a>
          <li class="footer-nav-item"><a href="https://github.com/siteleaf/siteleaf-api" target="_blank">API</a>
          <li class="footer-nav-item"><a href="http://status.siteleaf.com" target="_blank">Status</a>
        </ul>
      </nav>
      <small class="footer-copy">&copy;2016 Siteleaf™ is made by <a href="http://oak.is">Oak</a>. Follow <a href="http://twitter.com/siteleaf">@siteleaf</a></small>
    </section>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="/scripts/js/min/application.js"></script>
  
  <script src="/scripts/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function(){
      $("section.blog").fitVids();
    });
  </script>

  <script src="//cdn.symbolset.com/fe53f0eec3a73760941acb609672ebdd0840fda7/symbolset.js"></script>
</body>
</html>