@font-face {
  font-family: 'Objektiv';
  font-weight: 400;
  font-style: normal;
  src:  url('//static.siteleaf.com/fonts/ObjektivMk2_W_Rg.woff2') format('woff2'),
        url('//static.siteleaf.com/fonts/ObjektivMk2_W_Rg.woff') format('woff');
}
@font-face {
  font-family: 'Objektiv';
  font-weight: 400;
  font-style: italic;
  src:  url('//static.siteleaf.com/fonts/ObjektivMk2_W_It.woff2') format('woff2'),
        url('//static.siteleaf.com/fonts/ObjektivMk2_W_It.woff') format('woff');
}
@font-face {
  font-family: 'Objektiv';
  font-weight: 500;
  font-style: normal;
  src:  url('//static.siteleaf.com/fonts/ObjektivMk2_W_Md.woff2') format('woff2'),
        url('//static.siteleaf.com/fonts/ObjektivMk2_W_Md.woff') format('woff');
}
@font-face {
  font-family: 'Objektiv';
  font-weight: 700;
  font-style: normal;
  src:  url('//static.siteleaf.com/fonts/ObjektivMk2_W_Bd.woff2') format('woff2'),
        url('//static.siteleaf.com/fonts/ObjektivMk2_W_Bd.woff') format('woff');
}
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);
