// containers
// ----------

%container {
  width: 100%;
  @include margin-center;
  padding-left: $gutter;
  padding-right: $gutter;
  @include max-width($max-width--xs) {
    padding-left: 5%;
    padding-right: 5%;
  }
}
%container--narrow {
  @extend %container;
  max-width: $max-width--container--narrow;
}
%container--wide {
  @extend %container;
  max-width: $max-width--container--wide;
}

%row {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  @include flexbox;
  @include flex-wrap(wrap);
}
%column {
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

// buttons
// -------

%button {
  display: inline-block;
  padding: 4px 0.5em 6px;
  border-radius: $border-radius--base;
}
%button--large {
  font-size: $font-size--large;
  font-weight: $font-weight--bold;
  @extend %button;
  padding: 0.4em 2.75em 0.6em;
}

// font variations
// ---------------

%mk1 {
  font-feature-settings: "ss01";
}
%mk2 {
  font-feature-settings: "ss02";
}
%mk3 {
  font-feature-settings: "ss03";
}

// miscellaneous
// -------------

%link--underline {
  text-decoration: underline;
  &:hover {
    opacity: $opacity--hover;
  }
}
%browser {
  &:before {
    content: '';
    display: block;
    background-color: #e9e9e9;
    height: 1.2rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
