%container {
  width: 100%;
  @include margin-center;
}
%container--narrow {
  @extend %container;
  max-width: $max-width--container--narrow;
  padding-left: $padding--container;
  padding-right: $padding--container;
}
%container--wide {
  @extend %container;
  max-width: $max-width--container--wide;
  padding-left: $padding--container;
  padding-right: $padding--container;
}

%link--underline {
  text-decoration: underline;
  &:hover {
    opacity: 0.6;
  }
}
