%container {
  width: 100%;
  @include margin-center;
  padding-left: $padding--container;
  padding-right: $padding--container;
}
%container--narrow {
  @extend %container;
  max-width: $max-width--container--narrow;
}
%container--wide {
  @extend %container;
  max-width: $max-width--container--wide;
}

%link--hover {
  &:hover {
    opacity: 0.7;
  }
}
%link--underline {
  text-decoration: underline;
}

%button {
  padding: 0.6em 0.6em 0.4em;
  border-radius: $border-radius--base;
}
%button--large {
  @extend %button;
  padding: 0.8em 0.9em 0.6em;
}