// colors
// ------

$color--white:  #FFFFFF;
$color--blue:   #11A0F3;
$color--green:  #25BEA1;
$color--yellow: #FBBC09;
$color--red:    #E56134;
$color--purple: #9961C9;
$color--leaf:   #8DCF3F;

$color--darkest-gray:  #374252;
$color--darker-gray:   #5A6575;
$color--dark-gray:     #8C95A3;
$color--gray:          #B1B8C4;
$color--light-gray:    #D3D8E0;
$color--lighter-gray:  #E9ECF0;
$color--lightest-gray: #F7F8FA;

// typography
// ----------

$font-size--html:    20px;
$font-size--html-sm: 18px;

$font-size--large:    1.166667em;
$font-size--small:    0.916667em;
$font-size--smaller:  0.833333em;

$font-family--sans-serif: 'Objektiv', sans-serif;
$font-family--monospace:  'Source Code Pro', monospace;

$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--bold:   700;

$line-height--tighter: 1.16;
$line-height--tight:   1.24;
$line-height--base:    1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight:   -0.018em;

// sizing and spacing
// ------------------

$v: $line-height--base * 1rem;

// grid
// ----

$min-width--sm: 480px;
$min-width--md: 720px;
$min-width--lg: 960px;
$min-width--xl: 1200px;
$max-width--xs: ($min-width--sm - 1);
$max-width--sm: ($min-width--md - 1);
$max-width--md: ($min-width--lg - 1);
$max-width--lg: ($min-width--xl - 1);

$max-width--container--narrow: 740px;
$max-width--container--wide:   $min-width--xl;
$max-width--container--wider:  1600px;
$max-width--header__title:     $min-width--lg;

$gutter: 1.5rem;

// miscellaneous
// -------------

$width--logo:         3.75rem;
$border-radius--base: 0.25em;

$opacity--hover: 0.6;
$darken--button: 5%;
