// colors
// ------

$color--white:  rgb(255,255,255);
$color--blue:   rgb(19,159,240);
$color--green:  rgb(37,204,174);
$color--yellow: rgb(250,186,10);
$color--red:    rgb(229,95,50);
$color--purple: rgb(153,97,201);
$color--leaf:   rgb(141,207,63);

$color--gray-darkest:  rgb(54,65,82);
$color--gray-darker:   rgb(89,102,122);
$color--gray-dark:     rgb(136,146,163);
$color--gray:          rgb(173,182,196);
$color--gray-light:    rgb(209,216,227);
$color--gray-lighter:  rgb(230,235,242);
$color--gray-lightest: rgb(247,249,252);


// typography
// ----------

$font-size--html:    20px;
$font-size--html-sm: 18px;

$font-size--small: 0.916667em;

// TO DO: change these when using real hosted fonts
$font-family--sans-serif:        'Objektiv Mk2', sans-serif;
$font-family--sans-serif-bold:   'Objektiv Mk2 Bold', sans-serif;
$font-family--sans-serif-italic: 'Objektiv Mk2 Italic', sans-serif;
$font-family--sans-serif-medium: 'Objektiv Mk2 Medium', sans-serif;

// $font-family--monospace: 'Anonymous Pro', monospace;
$font-family--monospace: 'Source Code Pro', monospace;

$line-height--tight: 1.16;
$line-height--base:  1.64;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight:   -0.018em;

// sizing and spacing
// ------------------

$v: $line-height--base * 1rem;

// grid
// ----

$min-width--sm: 480px;
$min-width--md: 720px;
$min-width--lg: 960px;
$max-width--xs: ($min-width--sm - 1);
$max-width--sm: ($min-width--md - 1);
$max-width--md: ($min-width--lg - 1);

$max-width--container--narrow: $min-width--md;
$max-width--container--wide:   1200px;
$max-width--header__title:     $min-width--lg;

$gutter: 1.5rem;

// miscellaneous
// -------------

$width--logo:         3.75rem;
$border-radius--base: 0.2em;

