// colors
// ------

$color--white:  #FFFFFF;
$color--blue:   #11A0F3;
$color--green:  #25BEA1;
$color--yellow: #FBBC09;
$color--red:    #E56134;
$color--purple: #9961C9;
$color--leaf:   #8DCF3F;

$color--gray-darkest:  #323C4C;
$color--gray-darker:   #586373;
$color--gray-dark:     #8C95A3;
$color--gray:          #B1B8C4;
$color--gray-light:    #D3D8E0;
$color--gray-lighter:  #E9ECF0;
$color--gray-lightest: #F7F8FA;

// typography
// ----------

$font-size--html:    20px;
$font-size--html-sm: 17px;

$font-size--large: 1.166667em;
$font-size--small: 0.916667em;

// TO DO: change these when using real hosted fonts
$font-family--sans-serif:        'Objektiv Mk2', sans-serif;
$font-family--sans-serif-bold:   'Objektiv Mk2 Bold', sans-serif;
$font-family--sans-serif-italic: 'Objektiv Mk2 Italic', sans-serif;
$font-family--sans-serif-medium: 'Objektiv Mk2 Medium', sans-serif;

$font-family--monospace: 'Source Code Pro', monospace;

$line-height--tight: 1.16;
$line-height--base:  1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight:   -0.018em;

// sizing and spacing
// ------------------

$v: $line-height--base * 1rem;

// grid
// ----

$min-width--sm: 480px;
$min-width--md: 640px;
$min-width--lg: 960px;
$min-width--xl: 1200px;
$max-width--xs: ($min-width--sm - 1);
$max-width--sm: ($min-width--md - 1);
$max-width--md: ($min-width--lg - 1);
$max-width--lg: ($min-width--xl - 1);

$max-width--container--narrow: 720px;
$max-width--container--wide:   $min-width--xl;
$max-width--container--wider:  1600px;
$max-width--header__title:     $min-width--lg;

$gutter: 1.5rem;

// miscellaneous
// -------------

$width--logo:         3.75rem;
$border-radius--base: 0.25em;

$opacity--hover: 0.7;
