---
---

@charset "utf-8";

// imports
// -------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';
@import 'placeholders';
@import 'highlight';

// base
// ----

* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
html {
  font-size: $font-size--html;
  @include max-width($max-width--sm) {
    font-size: $font-size--html-sm;
  }
}
body {
  color: $color--gray-darker;
  background-color: $color--white;
  font-family: $font-family--sans-serif;
  line-height: $line-height--base;
  @include antialias;
  overflow-x: hidden;
  @extend %container--narrow;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--sans-serif-bold;
}
h1 {
  // font-family: $font-family--sans-serif-bold;
  font-size: 3em;
  line-height: $line-height--tight;
  letter-spacing: $letter-spacing--tight;
}
img {
  @include responsive-image;
}
pre {
  background-color: $color--gray-lightest;
  padding: 0.4em 0.6em;
  border-radius: $border-radius--base;
}
code {
  font-size: 0.916667em;
  font-weight: 600;
  pre & {
    font-weight: inherit;
  }
}
pre,
code,
kbd,
samp {
  font-family: $font-family--monospace;
  overflow: auto;
  white-space: pre;
}

// components
// ----------

.gallery {
  background-color: $color--gray-lightest;
}
.header__item,
.footer__item,
.article__tags,
.article__tag {
  display: inline-block;
}
.main {
  margin-top: $v*2;
  margin-bottom: $v*4;
}
.article + .article {
  margin-top: $v*4;
}
.article__title {
  margin-bottom: $v*0.666667;
}
.article__meta,
.article__footer__link {
  font-family: $font-family--sans-serif-bold;
}
.article__footer__link {
  color: $color--blue;
}
.article__meta {
  font-size: 0.833333em;
  margin-bottom: $v;
}
.article__tag__link {
  background-color: $color--green;
  color: $color--white;
  padding: 0.6em 0.6em 0.4em;
  margin-right: 0.2em;
  border-radius: $border-radius--base;
  .article__tag:nth-of-type(2) & {
    background-color: $color--blue;
  }
  .article__tag:nth-of-type(3) & {
    background-color: $color--yellow;
  }
}
.article__content {
  p,
  ul,
  ol,
  blockquote,
  pre,
  iframe {
    margin-bottom: $v;
  }
  a {
    font-family: $font-family--sans-serif-bold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

// TEMP
// ----

#mfPreviewBar {
  display: none;
}
.box {
  width: 9em;
  height: 9em;
  background-color: red;
  margin-bottom: 1em;
  margin-right: 1em;
  display: inline-block;
  &.gray-darker {
    background-color: $color--gray-darker;
  }
  &.gray-dark {
    background-color: $color--gray-dark;
  }
  &.gray {
    background-color: $color--gray;
  }
  &.gray-light {
    background-color: $color--gray-light;
  }
  &.gray-lighter {
    background-color: $color--gray-lighter;
  }
  &.gray-lightest {
    background-color: $color--gray-lightest;
  }
}
