---
---

@charset "utf-8";

// imports
// -------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';
@import 'placeholders';
@import 'highlight';

// base
// ----

*,
*:before,
*:after {
  @include box-sizing(border-box);
}
html {
  font-size: $font-size--html;
  @include max-width($max-width--sm) {
    font-size: $font-size--html-sm;
  }
}
body {
  color: $color--gray-darkest;
  background: $color--white;
  font-family: $font-family--sans-serif;
  line-height: $line-height--base;
  @include antialias;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--sans-serif-bold;
}
h1 {
  font-size: 3.25em;
  line-height: $line-height--tight;
  letter-spacing: $letter-spacing--tighter;
  @include max-width($max-width--sm) {
    font-size: 2.5em;
    letter-spacing: $letter-spacing--tight;
  }
}
h2 {
  font-size: 2.5em;
  line-height: $line-height--tight;
  letter-spacing: $letter-spacing--tight;
  @include max-width($max-width--sm) {
    font-size: 2em;
  }
  margin-bottom: $v*0.5;
}
h3 {
  font-size: 1.5em;
  line-height: $line-height--tight;
  letter-spacing: $letter-spacing--tight;
  @include max-width($max-width--sm) {
    font-size: 1.333333em;
  }
  margin-bottom: $v*0.5;
}
h4 {
  font-size: $font-size--large;
  margin-bottom: $v*0.5;
}
p,
ul,
ol,
blockquote,
pre,
iframe {
  margin-bottom: $v*0.75;
}
hr {
  width: 5em;
  margin: $v*1.5 auto;
  border: 0;
  border-top: 0.2em solid $color--gray-lighter;
}
blockquote {
  font-family: $font-family--sans-serif-italic;
  margin-left: 0.3em;
  padding-left: 1.2em - 0.3em - 0.2em;
  border-left: 0.2em solid $color--gray-lighter;
  em {
    font-family: $font-family--sans-serif;
  }
}
pre,
code {
  background: $color--gray-lightest;
  color: $color--gray-darker;
}
pre {
  padding: 1em;
}
code {
  font-size: $font-size--small;
  padding: 0.1em 0.25em
}
pre,
code,
kbd,
samp {
  font-family: $font-family--monospace;
  overflow: auto;
  white-space: pre;
}
strong {
  font-family: $font-family--sans-serif-bold;
}
em {
  font-family: $font-family--sans-serif-italic;
}
small {
  font-size: $font-size--small;
}
img {
  @include responsive-image;
}
p.large {
  font-size: $font-size--large;
}

// header and footer
// -----------------

.header,
.footer {
  @extend %container;
}
.header {
  padding-top: $gutter;
  padding-bottom: $gutter;
  position: relative;
  .home & {
    text-align: center;
  }
  @include max-width($max-width--sm) {
    text-align: center;
  }
}
.footer {
  text-align: center;
  color: $color--gray-dark;
  padding-top: $gutter*2;
  padding-bottom: $gutter*2;
  margin-top: $v;
}
.header__item,
.footer__item {
  display: inline-block;
  font-size: $font-size--small;
  font-family: $font-family--sans-serif-medium;
}
.headerWrap,
.footerWrap, {
  // @extend %bg--colors;
}
.header__link,
.footer__link {
  @extend %button;
}
.header__link:not(.header__link--signup),
.footer__link {
  &:hover {
    text-decoration: underline;
  }
}
.footer__item {
  margin-top: $v*0.125;
  margin-bottom: $v*0.125;
}
.header__link--signup {
  background: $color--leaf;
  color: $color--white;
  margin-left: 0.5em;
}
.header__items {
  float: right;
  text-align: right;
  .home & {
    float: none;
  }
  @include max-width($max-width--sm) {
    float: none;
  }
}
.header__item:not(.header__item--login) {
  .home & {
    display: none;
  }
  @include max-width($max-width--sm) {
    display: none;
  }
}
.header__link {
  .home & {
    padding: 0;
  }
  @include max-width($max-width--sm) {
    padding: 0;
  }
}
.header__home {
  position: absolute;
  @include translate3d(0,-7.5%,0);
  .home & {
    position: static;
    display: inline-block;
    @include margin-center;
  }
  @include max-width($max-width--sm) {
    position: static;
    display: inline-block;
    @include margin-center;
  }
}
.header__logo {
  width: $width--logo;
  .home & {
    width: $width--logo * 1.15;
  }
  @include max-width($max-width--sm) {
    .home & {
      width: $width--logo;
    }
  }
}
.header__title,
.header__subtitle {
  text-align: center;
  @include margin-center;
}
.header__title {
  margin-top: $v*3.5;
  margin-bottom: $v*0.5;
  max-width: $max-width--header__title;
  padding-left: $width--logo * 1.4;
  padding-right: $width--logo * 1.4;
  .home & {
    max-width: 40rem;
    padding-left: 0;
    padding-right: 0;
    margin-top: $v;
    margin-bottom: 0;
  }
  @include max-width($max-width--sm) {
    padding-left: 0;
    padding-right: 0;
    margin-top: $v;
    margin-bottom: 0;
    .home & {
      max-width: 30rem;
    }
  }
}
.header__subtitle {
  max-width: $max-width--header__subtitle;
  margin-top: $v*0.5;
}

// home
// ----

.featureWrap {
  padding-top: $v*4;
  padding-bottom: $v*4;
  // @extend %bg--colors;
}
.featureWrap.bg--custom {
  padding-top: $v;
  background: linear-gradient(180deg, $color--yellow 8.5rem, $color--gray-lightest 8.5rem, $color--gray-lightest);
  @include max-width($max-width--sm) {
    padding-top: $v*2;
    background: $color--gray-lightest;
  }
}
.feature {
  text-align: center;
  @extend %container--wide;
}
// feature elements
.feature__button {
  font-family: $font-family--sans-serif-bold;
  @extend %button--large;
  background: $color--blue;
  color: $color--white;
  margin-top: $v*0.5;
}
.feature__title {
  @include margin-center;
  .feature.manage & {
    max-width: 30rem;
  }
}
// feature: intro
.intro__subsections {
  @extend %row;
}
.intro__subsection {
  @extend %column;
  width: 33.333333%;
  @include max-width($max-width--sm) {
    width: 100%;
    margin-bottom: $v*0.75;
  }
}
.intro__subsection__image {
  @include margin-center;
  margin-bottom: $v;
}
// feature: manage
.manage__tabs {
  margin-top: $v*3;
  text-align: left;
}
.manage__tab {
}
// feature: develop
.develop__subsection {
  @extend %row;
  @include flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  text-align: left;
  margin-top: $v*3;
  h3 {
    font-size: 2em;
  }
  // * {
  //   @extend %colors;
  // } // TO DO: remove
}
.develop__subsection > * {
  @extend %column;
}
.develop__subsection__text {
  width: 40%;
  .develop__subsection:nth-of-type(2n+1) & {
    float: right;
  }
  @include max-width($max-width--sm) {
    width: 100%;
  }
}
.develop__subsection__image {
  width: 70%;
  margin-right: 7.5%;
  margin-left: -17.5%;
  .develop__subsection:nth-of-type(2n) & {
    float: right;
    margin-left: 7.5%;
    margin-right: -17.5%;
    @include order(1);
  }
  @include max-width($max-width--sm) {
    width: 100%;
  }
  margin-bottom: $v*0.75;
}

.develop__logos {
  margin-top: $v*0.75;
}
.develop__logo {
  display: inline-block;
  height: 3.5rem;
  margin: 0.5rem 1.5rem 0.5rem 0;
  &:last-of-type {
    margin-right: 0;
  }
}
// feature: free
.free__subsections {
  @extend %row;
}
.free__subsection {
  @extend %column;
  width: 33.333333%;
  @include max-width($max-width--sm) {
    width: 100%;
    margin-bottom: $v*0.75;
  }
}
.free__image {
  margin-bottom: $v;
}
// feature: better
.feature.better {
  // TO DO: background image
}
.better__content {
  margin-top: $v*1;
  text-align: left;
  @extend %container--narrow;
}
// feature: love
.love__tweets {
  @extend %row;
  @include flexbox;
  @include flex-wrap(wrap);
  text-align: left;
  margin-top: $v*2;
  margin-bottom: $v*2;
}
.love__tweet {
  @extend %column;
  @include flexbox;
  margin-bottom: $gutter;
  font-size: $font-size--small;
  width: 33.333333%;
  @include max-width($max-width--md) {
    width: 50%;
  }
  @include max-width($max-width--sm) {
    width: 100%;
  }
}
.love__tweet__card {
  background-color: $color--white;
  border-radius: $border-radius--base;
  width: 100%;
  padding: $gutter*0.75 $gutter*0.75 $gutter*1.75;
  position: relative;
}
.love__tweet__header {
  @include flexbox;
  @include align-items(center);
  margin-bottom: $v*0.75;
}
.love__tweet__avatar {
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.75em;
}
.love__tweet__name {
  line-height: 1;
}
.love__tweet__handle {
  color: $color--gray;
}
.love__tweet__words {
  a {
    color: #05A0F6; // Twitter blue
    &:hover {
      opacity: $opacity--hover;
    }
  }
}
.love__tweet__link {
  position: absolute;
  bottom: $gutter*0.75;
  width: 25px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Cpath%20fill%3D%22%2305a0f6%22%20d%3D%22M32%207.075c-1.175%200.525-2.444%200.875-3.769%201.031%201.356-0.813%202.394-2.1%202.887-3.631-1.269%200.75-2.675%201.3-4.169%201.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625%200-6.563%202.938-6.563%206.563%200%200.512%200.056%201.012%200.169%201.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563%200.969-0.887%202.1-0.887%203.3%200%202.275%201.156%204.287%202.919%205.463-1.075-0.031-2.087-0.331-2.975-0.819%200%200.025%200%200.056%200%200.081%200%203.181%202.263%205.838%205.269%206.437-0.55%200.15-1.131%200.231-1.731%200.231-0.425%200-0.831-0.044-1.237-0.119%200.838%202.606%203.263%204.506%206.131%204.563-2.25%201.762-5.075%202.813-8.156%202.813-0.531%200-1.050-0.031-1.569-0.094%202.913%201.869%206.362%202.95%2010.069%202.95%2012.075%200%2018.681-10.006%2018.681-18.681%200-0.287-0.006-0.569-0.019-0.85%201.281-0.919%202.394-2.075%203.275-3.394z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
  background-repeat: no-repeat;
  &:hover {
    opacity: $opacity--hover;
  }
}
.love__logos {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.love__logo {
  display: inline-block;
  height: 2.2rem;
  margin: 0.5rem 1rem;
}

// articles
// --------

.article {
  margin-top: $v*1;
  margin-bottom: $v*2;
  @extend %container--narrow;
}
.article__meta a,
.article__footer a,
.article__content a {
  text-decoration: underline;
  &:hover {
    opacity: $opacity--hover;
  }
}
.article + .article {
  margin-top: $v*4;
}
.article__tags,
.article__tag,
.article__date {
  display: inline-block;
}
.article__tag:not(:last-of-type):after {
  content: ',';
}
.article__title {
  margin-top: $v*2;
  margin-bottom: $v*0.25;
}
.article__meta {
  color: $color--gray;
  font-family: $font-family--sans-serif-medium;
  font-size: $font-size--small;
  margin-bottom: $v*0.75;
}
.article__date--legal {
  &:before {
    content: 'As of ';
  }
}
.article__footer__link {
  color: $color--gray-dark;
  font-family: $font-family--sans-serif-bold;
}
.article__content {
  h2 {
    margin-top: $v*1.75;
  }
  h3 {
    margin-top: $v*1.5;
  }
  h4 {
    margin-top: $v;
  }
  ol,
  ul {
    padding-left: 1.2em;
  }
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
  a {
    font-family: $font-family--sans-serif-bold;
    text-decoration: underline;
  }
}

// blog
// ----

.blog__more {
  @extend %container;
  text-align: center;
  margin-top: $v*3;
}
.blog__more__link {
  @extend %button--large;
  background: $color--gray;
  color: $color--white;
  font-family: $font-family--sans-serif-bold;
}

// gallery
// -------

.gallery {
  &,
  .footer {
    background: $color--blue;
    color: $color--white;
  }
}
.gallery__main {
  @extend %container--wide;
  margin-top: $v*2;
  margin-bottom: $v*2;
}
.gallery__items {
  @extend %row;
  @include flexbox;
  @include flex-wrap(wrap);
}
.gallery__item {
  @extend %column;
  width: 50%;
  margin-bottom: $v*2;
  @include max-width($max-width--xs) {
    width: 100%;
  }
}
.gallery__caption {
  margin-top: $v*0.5;
}
.gallery__caption__link {
  &:hover {
    text-decoration: underline;
  }
}

// archive
// -------

.archive__items {
  margin-top: $v*1.5;
  margin-bottom: $v*2;
  @extend %container--narrow;
}
.archive__month {
  margin-top: $v*1.5;
  margin-bottom: $v*0.5;
}
.archive__item {
  display: table;
}
.archive__day {
  color: $color--gray;
  display: table-cell;
  width: 1.75em;
}
.archive__link {
  &:hover {
    text-decoration: underline;
  }
}

// colors
// ------

.blue {
  color: $color--blue;
}
.green {
  color: $color--green;
}
.yellow {
  color: $color--yellow;
}
.red {
  color: $color--red;
}
.purple {
  color: $color--purple;
}
.gray {
  color: $color--gray-dark;
}
.white {
  color: $color--white;
}

.bg--blue {
  background: $color--blue;
  color: $color--white;
}
.bg--green {
  background: $color--green;
  color: $color--white;
}
.bg--yellow {
  background: $color--yellow;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color--white;
  }
}
.bg--red {
  background: $color--red;
  color: $color--white;
}
.bg--purple {
  background: $color--purple;
  color: $color--white;
}
.bg--gray {
  background: $color--gray-lightest;
}
.bg--white {
  background: $color--white;
}

// TEMP
// ----

#mfPreviewBar {
  display: none;
}
