---
---

@charset "utf-8";

// imports
// -------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';
@import 'placeholders';
@import 'highlight';

// static is faster
// ----------------

// base
// ------

.section {
  @extend %container--wide;
  padding: $v*4 5% $v*4 5%;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 0;
    border-bottom: 3px solid $color--dark-gray;
  }
}

.text {
  width: 58.333333%;
  vertical-align: top;

  @include max-width($min-width--lg) {
    width: 75%;
  }
  @include max-width($min-width--md) {
    width: 100%;
  }
}

.text a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}


// chart
// -----

.chart {
  display: block;
  position: absolute;
  transform: rotate(-135deg);
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
}

.chart line {
  stroke-width: .4;
}

.chart text {
  font-size: 2.5px;
  fill: $color--dark-gray;
}

.chart__circle {
  top: 0;
  fill: none;
  display: block;
  animation: progress .8s ease-out forwards;
}

.hidden {
  .chart__circle {
    display: none;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.chart__wrapper {
  width: auto;
  height: auto;
  display: inline-block;
  margin-right: $gutter;
  margin-top: $v*2;
  flex: 1 1 0;
  min-width: 140px;

  &:nth-child(4) {
    margin-right: 0;
  }

  &:first-child .chart__title {
    padding-left: 33.333333%;
  }
  @include max-width($min-width--lg){
    
    &:first-child .chart__title {
      padding-left: 0;
    }
  }
  @include max-width($min-width--md) {
    min-width: 200px;

    &:nth-child(2) {
      margin-right: 0;
    }
    &:first-child .chart__title {
      padding-left: 33.333333%;
    }
    @media (max-height: $min-width--sm) {
      min-width: 160px;
    }
  }
  @include max-width($min-width--sm) {
    margin-right: 0;
  }
}

.chart__wrapper p {
  margin-bottom: 0;
}

.chart__logo {
  display: inline-block;
  width: 25%;
  height: auto;
  float: left;
  margin-top: -$gutter;
  margin-right: 8.3333333%;

  @include max-width($min-width--lg) {
    display: none;
  }
  @include max-width($min-width--md) {
    display: block;
  }
}

.chart__title {
  border-top: 3px solid $color--dark-gray;
  padding-top: $gutter;
}

.chart__locations {
  display: inline-block;
}

.chart__values{
  display: inline-block;
  float: right;
  text-align: right;
}

// header
// ------

.header__video__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color--darkest-gray;
  overflow: hidden;
}

#header__video {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.header__video__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: .6;
  bottom: 0;
  z-index: 1;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAQUlEQVQYV2M0dwr6z8DAwPCfgaGRkYGhHsRmBAv+/2dycv+Gs+aOAcYMjExnGM2cghpO7VvXAFIBAiA+dpXYzAQAdPAeeNNBSYcAAAAASUVORK5CYII=) repeat;

  @include max-width($min-width--md) {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKklEQVQYV2M0dwr6/5+BoZGBgYGBkYGhntHMKajh1L51DSABEBtTAF0LAIdWEi0xxCE7AAAAAElFTkSuQmCC) repeat;
  }
}

.header__video__title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: $color--white;
  text-align: center;
  margin: 0 auto;
  z-index: 2;
}

#header__arrow{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $color--white;
  z-index: 2;

  @include max-width($min-width--md){
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid $color--white;
  }
  @include max-width($min-width--sm){
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $color--white;
  }
}

// intro
// -----

#intro__chart {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0;

  @include max-width($min-width--md) {
    display: block;
    float: none;
    margin-top: $v*2;
    @include margin-center;
  }
}

#intro__text {
  display: inline-block;

  @include max-width($min-width--lg) {
    width: 58.333333%;
  }
  @include max-width($min-width--md) {
    width: 100%;
  }
}

.intro__key {
  border-top: 3px solid $color--dark-gray;
  padding-top: $gutter;

  @include max-width($min-width--lg) {
    font-size: $font-size--html-sm;
  }
}

.intro__key div, .test__key div {
  width: $font-size--html;
  height: $font-size--html;
  margin-right: $gutter/2;
  display: inline-block;
}

.intro__key p, .test__key p {
  display: inline-block;
  margin-bottom: 0;
}

// test
// ----

.test__wrapper {
  @include flexbox;
  @include justify-content;

  @include max-width($min-width--lg) {
    flex-wrap: wrap;
  }
  @include max-width($min-width--sm) {
    margin-bottom: $v;
  }
}

#test {
  display: inline-block;
  margin-right: auto;

  @include max-width($min-width--lg) {
    margin-right: 25%;
  }
  @include max-width($min-width--md) {
    margin-right: 0;
  }
}

.test__update, .test__key {
  margin-left: $gutter;
  vertical-align: top;
  width: auto;
  margin-top: $v*1.5;
  flex: 1;

  @include max-width($min-width--md) {
    margin-top: $v*.5;
    margin-bottom: $v;
  }
}

.test__disclaimer, .chart__locations, .test__updateTitle {
  color: $color--gray;
  font-weight: $font-weight--normal;
}

.test__disclaimer {
  font-size: $font-size--html-sm;
}

.test__update {
  @include max-width($min-width--lg) {
    margin-left: 0;
    max-width: 25%;
  }
  @include max-width ($min-width--md) {
    max-width: 50%;
  }
}

.test__key {
  @include max-width($min-width--lg) {
    max-width: 25%;
  }
  @include max-width ($min-width--md) {
    max-width: 50%;
  }
}

.test__charts {
  @include flexbox;
  flex-wrap: nowrap;
  align-items: baseline;

  @include max-width($min-width--xl) {
    li {
      font-size: $font-size--html-sm;
    }
  }
  @include max-width($min-width--md) {
    flex-wrap: wrap;
    li {
      font-size: 16px;
    }
    @media (max-height: $min-width--sm) {
      width: 70%;
      margin-left: 15%;
    }
  }
  @include max-width($min-width--sm) {
    width: 70%;
    margin-left: 15%;
  }
}

// cta's
// -----

#cta {
  @include flexbox;
  @include justify-content;

  &:after {
    border: none;
  }
  @include max-width($min-width--md) {
    flex-wrap: wrap;
  }
}

// email
// -----

.email {
  width: auto;
  flex: 1;
  margin-right: $gutter*2;
  @include placeholder($color--light-gray);

  @include max-width($min-width--md) {
    min-width: 100%;
    margin-right: 0;
  }
}

.email form {
  display: inline-block;
  width: 100%;
  height: 50px;
  vertical-align: top;
  float: left;
  position: relative;
}

.email__arrow {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #3291AA;
}

.email__arrow img {
  width: 60%;
  height: auto;
  margin: 0 0 0 20%;
}

.email input {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
  background-color: $color--darker-gray;
  padding-left: $gutter;
  font-family: $font-family--sans-serif;
  font-size: $font-size--html;
  color: $color--white;
}

// learn more
// ----------

.learnMore {
  width: auto;
  flex: 1;

  @include max-width($min-width--md) {
    min-width: 100%;
    margin-top: $v*3;
  }
}

.learnMore h4 {
  display: inline-block;
  vertical-align: top;
  width: 75%;

  @include max-width($min-width--sm) {
    width: 70%;
  }
}

.learnMore img {
  display: inline-block;
  width: 16.666667%;
  height: auto;
  float: right;

  @include max-width($min-width--sm) {
    width: 20%;
  }
}

.learnMore a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
